[2013-09-08 07:33] kixi opened #1 "SalaBuff cannot generate scala files on Windows"
I discovered the following when I tried to build your project using sbt (I tested your client in a scala/akka eventsourcing POC - https://github.com/kixi/bitcoin-xchange)

[info] \* Error: Unable to write output file: eventstore/proto/C:\data\Dropbox\projects\eventstorejvmclient\src\main\prot
obuf\EventStoreMessages.scala

maybe this could help: https://github.com/SandroGrzicic/ScalaBuff/pull/37

[2013-11-26 11:24] patriknw opened #2 "A few comments"
I took a brief look at the API. A few comments. It should perhaps generate separate tickets if you find them relevant.
- I suggest that you use Typesafe config library and define default configuration in reference.conf
- Is scalabuff worth it? We used scalabuff in Akka cluster but switched to plain protobuf to reduce dependency complexity.
- logging can be done more efficiently (reduced garbage) b

[2013-11-29 17:22] #1 closed, assigned to t3hnar

[2013-11-29 17:24] t3hnar opened #3 "Use typesafe config as another way of configuration"

[2013-12-16 14:07] dm3 opened #4 "Regarding the subscription actor behaviour after reconnect"
I've noticed that subscription actors do not renew their subscriptions after the connection actor has successfully reconnected.

Is this a bug?

[2013-12-17 15:49] dm3 opened #5 "Exception when reading events from a missing stream"
Is this by design?

This might as well happen because the jvmclient (0.1) protobuffer spec is out of sync with my eventstore build (latest master). Should I be building the lib from master?

Eventstore API returns:

[code]

so I would expect the operation to succeed with an appropriate `ReadStreamResult`.

[2013-12-18 08:27] dm3 opened #6 "Regarding subscription termination"
Is it safe to assume that a subscription can be terminated by sending a `Kill` to an actor?

More generally, are there any supervision trees which will appear in the client (e.g. something that will restart the subscription when it's killed)?

[2013-12-18 09:07] #5 closed, assigned to nobody

[2013-12-20 11:25] dm3 opened #7 "Warnings when catching up to exact position"
There is a WARN level log statement at https://github.com/EventStore/eventstorejvmclient/blob/30a2cf9bcb4504c1d3a61f49d95b1755b29eaa0f/src/main/scala/eventstore/CatchUpSubscriptionActor.scala#L53

In our case this is triggered on every subscription because (naturally) we catch up from the position of the last seen event. I'm not sure how we should request the subscription in order not to trigger t

[2013-12-26 18:42] t3hnar opened #9 "Logging can be done more efficiently (reduced garbage) by using the {} placeholders"

[2014-01-04 20:15] #9 closed, assigned to nobody

[2014-01-06 09:35] t3hnar opened #10 "Fix OutOfMemory when subscribed to huge stream"

[2014-01-09 22:42] #6 closed, assigned to nobody

[2014-01-09 22:42] #4 closed, assigned to nobody

[2014-01-09 22:42] #7 closed, assigned to nobody

[2014-02-01 08:54] #3 closed, assigned to nobody

[2014-02-02 18:48] #10 closed, assigned to t3hnar

[2014-02-03 19:13] t3hnar opened #11 "Get rid of scalabuff"

[2014-02-03 19:15] #2 closed, assigned to nobody

[2014-02-21 10:29] dm3 opened #12 "Subscription created with EsConnection is lost after reconnect to ES"
Is this a bug? In v. 0.2 SubscriptionActors resubscribed after reconnections.

[2014-02-26 08:50] dm3 opened #13 "Uberjar with ESjvmclient and Akka fails on startup"
The problem is in how Typesafe config is used in both Akka and ESJvmClient. Both expect the configuration to be found in `application.conf` or `reference.conf`, but only a single `reference.conf` remains after being merged into the uberjar.

`ConfigFactory.load()` should only be invoked in case the configuration isn't supplied explicitly, as in [Akka](https://github.com/akka/akka/blob/f1edf789798d

[2014-02-26 20:10] #12 closed, assigned to nobody

[2014-03-13 14:43] #13 closed, assigned to nobody

[2014-03-14 14:20] dm3 opened #14 "Events continue to be received if subscription dropped before accepting SubscribeToAllCompleted"
[code]

This subscription now receives events until the EventStore connection is closed.

[code]

[2014-03-14 16:48] #14 closed, assigned to t3hnar

[2014-04-06 14:39] jen20 opened #15 "Rename this repo to EventStore.Akka or similar"
To better describe what this is it would be good to rename this repo in a similar vein to all the others - I'd suggest `EventStore.Akka` though definitely open to suggestions.

Likely this will only affect @t3hnar as someone with remotes set up - as detailed [here](https://help.github.com/articles/renaming-a-repository), GitHub will forward remotes, but it's probably better to go through and chang

[2014-04-06 15:00] #15 closed, assigned to nobody

[2014-05-09 07:37] #11 closed, assigned to t3hnar

[2014-09-25 07:33] techfiend opened #16 "Reconnection to ES issue. EsException(NotHandled(NotReady))"
After the application looses the connection to ES there are messages in the logs:

[INFO] [09/25/2014 09:46:31.026] [default-akka.actor.default-dispatcher-8] [akka://default/deadLetters] Message [akka.actor.Status$Failure] from Actor[akka://default/user/$a#-2045056086] to Actor[akka://default/deadLetters] was not delivered. [10] dead letters encountered, no more dead letters will be logged. This l

[2014-10-09 18:04] #16 closed, assigned to t3hnar

[2014-10-24 20:11] t3hnar opened #18 "Implement cluster connection"

[2014-10-24 20:12] t3hnar opened #19 "Add operation retry logic"

[2014-10-24 20:13] t3hnar opened #20 "Make sure single physical subscription used for same stream for many clients"

[2014-10-24 20:16] t3hnar opened #21 "Make possible to single actor subscribed for many streams"
Maybe pass `correlationId` to client

[2014-10-24 20:49] t3hnar opened #22 "Consider switching legacy TCP pipeline to new reactive streams when released"

[2014-10-24 20:50] t3hnar opened #23 "Implement set/get metadata via user friendly API"

[2014-10-24 20:51] t3hnar opened #24 "improve EsConnectionExample, replace onComplete with onSuccess"

[2014-10-24 20:58] gregoryyoung opened #25 "New messages for competing"
On the competing branch there are a few new messages. Not much to implement (mostly the crud methods subscription data shows up in same way eventappeared) can be acked/nacked. Just a placeholder for later.

[2014-11-08 19:36] idar opened #26 "$ce subscription receives only Link metadata not metadata"
When subscribing to a $ce stream i receive EventRecord with a data object. which contains metadata and data, but metadata is Link metadata. I can't seem to find the original Metadata published with the event.

[2014-11-08 20:55] #26 closed, assigned to nobody

[2014-11-13 10:40] t3hnar opened #27 "aborting connection (buffer overrun)"
[code]
[code]

[2014-11-13 11:09] #27 closed, assigned to t3hnar

[2014-12-15 11:11] t3hnar opened #28 "Allow the management of users"

[2015-01-23 14:14] petraspaulauskas opened #29 "Subscription is lost after reconnect to ES"
Subscription is created using EsConnection:
[code]

EventStore version: 3.0.0
client version: 1.0.1

After losing and reestablishing connection to EventStore, SubscriptionObserver is no longer receiving events. As I understand it, this is not an intended behavior?

[2015-01-23 14:16] gregoryyoung commented on #29
In the dotnet client you will lose your subscription as well but there is a
callback to tell you that this happened so you can reconnect it. Catchup
subscriptions automatically reconnect

On Friday, January 23, 2015, petraspaulauskas <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-01-23 14:21] t3hnar commented on #29
Thx for reporting this, it is not an intended behaviour

[2015-01-23 14:31] t3hnar commented on #29
@petraspaulauskas, not reproducible anymore on current `cluster` branch, there were many things changed. It will be released till the end of this month.

[2015-01-30 19:13] t3hnar commented on #29
fixed in https://github.com/EventStore/EventStore.JVM/releases/tag/v2.0.0

[2015-01-30 19:13] #29 closed

[2015-01-30 19:14] t3hnar commented on #24
fixed in [v2.0.0](https://github.com/EventStore/EventStore.JVM/releases/tag/v2.0.0)

[2015-01-30 19:14] #24 closed

[2015-01-30 19:15] t3hnar commented on #19
fixed in [v2.0.0](https://github.com/EventStore/EventStore.JVM/releases/tag/v2.0.0)

[2015-01-30 19:15] #19 closed

[2015-01-30 19:15] t3hnar commented on #18
fixed in [v2.0.0](https://github.com/EventStore/EventStore.JVM/releases/tag/v2.0.0)

[2015-01-30 19:15] #18 closed

[2015-02-12 12:40] gfduszynski opened #30 "CPU is at 10% even when the app is idle"
I use EventStore.JVM [2.0.0] with reference configuration and changed IP + port.
Establishing connection with ES 3.0.1 causes CPU usage to jump from 0.1% to 10%[i7 2xcore],
also it's eating up RAM at a rate of ~1 MB/s
Logs show only heart beat messages going  in & out

Longer description:
EventStore is used with Akka Persistance (2.3.9)
Problem was discovered after update to 2.0.0
I've tried 3 sce

[2015-02-12 12:42] t3hnar commented on #30
Thanks @gfduszynski for reporting, I'll investigate.
Which OS/Java ?

[2015-02-12 12:43] gfduszynski commented on #30
Windows 8.1 x64, Java 1.8.0.5

[2015-02-12 12:45] gfduszynski commented on #30
We can do a hangout if you like, I could show you the issue live.

[2015-02-12 12:48] gregoryyoung commented on #30
What are heartbeat timeouts set to? Just having heartbeats will cause some
action back and forth though it seems a bit high. Also does the memory
stabilize after time?

On Thursday, February 12, 2015, gfduszynski <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-02-12 12:56] t3hnar commented on #30
I suppose it has something to do with Java 1.8, other configurations should work fine...
What is your -Xmx value ?

[2015-02-12 12:59] gfduszynski commented on #30
interval = 500ms
timeout = 2s
Both default

[2015-02-12 13:00] gfduszynski commented on #30
-Xmx isnt explicitly configured, I'll try to figure out the default

[2015-02-12 13:05] gfduszynski commented on #30
Intellij SBT JVM options are set to:
- Max heap size 768 MB
- MaxPermSize 384 MB

[2015-02-12 13:08] t3hnar commented on #30
Btw, there is a [CountAll](https://github.com/EventStore/EventStore.JVM/blob/master/src/main/scala/eventstore/examples/CountAll.scala) runnable class in sources, can you run and see whether you are experiencing the same issue?

[2015-02-12 13:15] gfduszynski commented on #30
After 4 minutes i have 400 MB.
There is a pattern to the growth:
1,1,..,1,20 and so on.
Doesn't look like stopping,
I'll leave it be for some time after the CountAll test.

[2015-02-12 13:18] t3hnar commented on #30
can we have a hangout?

[2015-02-12 13:19] gfduszynski commented on #30
With CountAll CPU is still around 10% but memory stabilizes around 60MB

[2015-02-12 13:19] gfduszynski commented on #30
Yes, my email is <github login>@gmail.com

[2015-02-12 15:50] t3hnar commented on #30
@gfduszynski could you send me those profile metrics or give permission to google drive folder ?

[2015-02-12 16:00] gfduszynski commented on #30
Sure:
http://s000.tinyupload.com/index.php?file_id=45831585478357264565

[2015-02-12 18:23] gfduszynski commented on #30
@gregoryyoung Memory usage doesn't stop growing until OutOfMemory

[2015-02-12 21:25] t3hnar commented on #30
Looks like an akka issue, I'll keep this ticket open until it fixed in akka.
For now fix would be to force akka version to `2.3.6`

[2015-02-12 21:48] t3hnar commented on #30
or add to your `application.conf`
`akka.io.tcp.windows-connection-abort-workaround-enabled = off`

[2015-02-13 09:13] gfduszynski commented on #30
Thanks, this fixed the issue for me.

[2015-03-20 15:15] t3hnar opened #31 "eventstore.CommandNotExpectedException: Expected: StreamEventAppeared, actual: StreamEventAppeared ..."
Issue to cover https://groups.google.com/forum/#!topic/event-store/jG68qEXaO80
Reported by @pawelkaczor

[2015-03-20 21:05] #31 closed

[2015-03-20 21:20] t3hnar commented on #31
Released in v2.0.1, will be available in a few hours on maven central.

[2015-03-29 09:08] t3hnar opened #32 "Memory leak because of ConnectionActor ignores Terminated messages after sender used for reply"

[2015-03-29 09:45] t3hnar commented on #32
https://github.com/akka/akka/issues/17087

[2015-03-29 13:25] #32 closed

[2015-03-29 13:52] t3hnar commented on #32
fixed in https://github.com/EventStore/EventStore.JVM/releases/tag/v2.0.2

[2015-03-30 12:25] gfduszynski commented on #32
Thanks for excellent support ;) Situation is much better now, however I believe there is still a problem.
I've measured ~6 kB/s leak. Test run out of memory after about 30 minutes, which is a tremendous improvement. I've used Eclipse Memory Analyzer to get some insights on this situations and I've got 3 suspects out of which 1 makes sense:

    One instance of "akka.actor.RepointableActorRef" load

[2015-04-20 16:09] ubourdon opened #33 "subscription actor & automatic reconnection"
Hi.
When I use subscription actor,
[code]
and GetEventstore shutdown & restart, the subscribe down at client side, and I don't know how to keep it up automatically. (I must restart my app actually) :/

Have you any tips ?
Thx for your response.

[2015-04-20 16:12] ubourdon opened #34 "subscription actor & don't relisten old event"
Hi,

Have you any tips, or geteventstore features, which allow to say to subscription actor to not be careful about Event it process before ?

Thx for your answer.

[2015-04-20 17:26] t3hnar commented on #33
Which version of eventstore-client are you using ?

[2015-04-20 17:32] t3hnar commented on #34
Could you be more specific ? :)
maybe current and expected behaviour examples ?

[2015-04-20 19:30] gregoryyoung commented on #34
I think he is looking for something that is not atleast-once messaging if
my guess is right

There isn't any way of doing this.

On Mon, Apr 20, 2015 at 8:32 PM, Yaroslav Klymko <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-04-20 19:30] ubourdon commented on #33
The last 2.0.2.

[2015-04-20 19:36] ubourdon commented on #34
Sorry, i'm not fluent in english.
I mean when I restart my app, my subscritpion actor catch all event, even the "past" event, event he yet process before.
I use subscription actor to increment the "Query part" (from CQRS) of my app, and if at each restart of my app, I must rebuild all my Views (because replaying all events), it is not very efficient.

[2015-04-20 19:37] t3hnar commented on #33
If server restarted within configured timeout, subscription should be recovered...
could you share client logs just before server started after shutdown ?

[2015-04-20 19:42] gregoryyoung commented on #34
One of the parameters of a catch up subscription is where to start eg you
can remember and pass the last event you processed when you come back up

On Mon, Apr 20, 2015 at 10:36 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-04-20 19:47] t3hnar commented on #33
btw I see something strange in your example:
both
`context.system.actorOf(SubscriptionActor.props(connection, self), "subscription"`
and
`connection ! SubscribeTo(EventStream.All)`
will produce same events... please use single subscription mechanism at the same time.

[2015-04-20 19:49] ubourdon commented on #34
It mean for event i process, I must remember the last I process, isn't it ?

[2015-04-20 19:49] t3hnar commented on #34
to not receive past events, you need to pass `SubscriptionActor.props(fromPositionExclusive = ...` taken from last processed event.
Or just rather not use catch-up subscription mechanism but directly `connection ! SubscribeTo(EventStream.All)`

[2015-04-21 11:59] ubourdon commented on #33
Oh ok, thx for peer review :)
What is the best way ? first or second ?

[2015-04-21 12:57] ubourdon commented on #33
When I use first one, I receive only `$` prefix tagged event and not my model event (which is in the past).
Normal ?

I receive also that :
```Failure(eventstore.OperationTimeoutException: Operation hasn't got response from server for PackOut(ReadAllEvents(Position(1776291),500,Forward,false,true),ab5e2b21-e201-410a-a69b-e21bca9b18d9,Some(UserCredentials(admin,***))))```

[2015-04-21 14:05] t3hnar commented on #33
**first case**: this will just subscribe to new events which will appear after subscription created.

**second case**: when you are using `catch-up subscription` - it reads events from provided position and then subscribe to new events which will appear

Yes

Failure(eventstore.OperationTimeoutException: Operation hasn't got response from server for > PackOut(ReadAllEvents(Position(1776291),500,Fo

[2015-04-21 14:23] ubourdon commented on #33
I use

[code]

to increase operation timeout value, but i have the same issues after more time.
I test my code with another instance of geteventstore (in local way, with other data) and it work perfectly.
I think it is a server issue & not client issue.

[2015-04-21 15:00] ubourdon commented on #33
Ok I try to move my data to local eventstore and it works.
I rebuild my distant eventore from scratch (i use docker) & it work perfectly.
So it was a weird issue probably with docker, i don't know.
Thx for helping & for your availability.

[2015-04-21 15:00] #33 closed

[2015-04-21 16:14] t3hnar commented on #33
cool!

[2015-04-21 16:15] t3hnar commented on #34
@ubourdon is it still an issue?

[2015-04-23 11:05] ubourdon commented on #34
No.
It's ok for me.
Thx for response.

[2015-04-23 11:05] #34 closed

[2015-05-19 12:32] ubourdon opened #35 "subscription to all"
Hi,

I try to subscribe to events from geteventstore, and to select them using the streamId prefix i use for my aggregat (e.g ticket & clientAccount).
When i ran this code, it's ok for prefix "ticket" (c.f isTicketEvent method) but I found no event for prefix "clientAccount" (c.f isClientAccountEvent).
In GetEventstore database I have both streams starting with "ticket" and "clientAccount" prefix.

[2015-05-19 12:40] t3hnar commented on #35
you are subscribing for future events only, to check your code on correctness, try to use
scala```SubscriptionActor.props(connection, self, fromPositionExclusive = Some(Position.First))```

[2015-05-19 12:54] ubourdon commented on #35
Why that work for "ticket" prefix ?
In fact I use fromPositionExclusive, storing in database the position of the last event i read. But when i delete this stored position (and my database send None result) the subscriber actor retrieve all passed event (at least for "ticket" prefix event).

[2015-05-19 13:36] t3hnar commented on #35
I don't know, we don't have any smart mechanism to filter out some streams by prefixes. Most probably the bug is in your code.

could you have ```def receive { case IndexedEvent(event, _) => println(event) } ``` and see what's going on there?

[2015-05-19 13:55] ubourdon commented on #35
that display lots of events

[2015-05-19 14:00] gregoryyoung commented on #35
Try ignoring all that start with $

On Tue, May 19, 2015 at 4:55 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-19 14:04] ubourdon commented on #35
Yes i do that

When i perform :

[code]
It print nothing

if I try
[code]
It prints all of my "ticket" events

If I check on my geteventstore database I can see stream with streamId containing "client" (clientAccount) & stream with streamId containing "ticket".

It's ok for "ticket stream" but I don't know why it doesn't work for "clientAccount stream" ...

[2015-05-19 14:20] t3hnar commented on #35
I generated events into stream `clientAccount` http://prntscr.com/76z9i7
I modified `eventstore.examples.CountAll` to have `if (x.event.streamId.streamId.startsWith("clientAccount")) println(x)`

Here is an output:

[code]
So basically it has nothing todo with `clientAccount` stream name as such...

Can you see any `warns` in logs ?
What's different in event payload of `ticket` and `clientAccount`

[2015-05-19 14:43] ubourdon commented on #35
Ok.
I don't understand what happened, but after restarting the database, it's work.
I also recharge all my event (deleting the previous).

Thx for your help.
Continue to improve myself to understand GetEventstore.

[2015-05-20 09:16] ubourdon commented on #35
This morning, my issue reborn :/

With
[code]
I print only "$" event whereas I have some business event in my geteventstore.
Do you think connection settings can be a possible cause to my problem ?

[2015-05-20 09:29] t3hnar commented on #35
@gregoryyoung looks like server issues?

[2015-05-20 09:30] gregoryyoung commented on #35
I'd have to see proof of that.

@ugobourdon how are you writing your events?

On Wed, May 20, 2015 at 12:29 PM, Yaroslav Klymko <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-20 09:41] ubourdon commented on #35
The events are writing with http request.
I suppose I do something wrong, because it works sometime & sometime not. But I don't understand why.

``` POST - http://serverbaseUrl/streams/clientAccount-cf83f128-41e4-ce8b-020c-0efe5c6dff2f ```

Headers :
[code]

[2015-05-20 09:44] gregoryyoung commented on #35
Well there are some pretty obvious ones there....

No content type. Possibility of sending duplicate event ids. etc etc.

Are you checking response codes?

Again this is largely coming back to "how are you measuring" as that is
likely where the problem is

On Wed, May 20, 2015 at 12:41 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-20 09:44] gregoryyoung commented on #35
sorry is content type (application/json)

On Wed, May 20, 2015 at 12:44 PM, Greg Young <gregoryyoung1@gmail.com>
wrote:

--
Studying for the Turing test

[2015-05-20 09:48] ubourdon commented on #35
Yes i check response code of the server, all 200 Ok.
And the events are visible in the 'admin ui', well formed.

It's been more 3 weeks I use subscription feature from JVM client in preprod & I have never seen this issue.
It is the first time I filter more than one "aggregate" prefix.

[2015-05-20 09:51] gregoryyoung commented on #35
i would need to see an actual repro before reaching the claim "the entire
backend must be broken" as its seems less likely than most alternatives.

On Wed, May 20, 2015 at 12:48 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-20 09:57] ubourdon commented on #35
Yes I understand that. But I don't know the context to reproduce this issue.
Yesterday, this don't work only for few "aggregat", when i delete db/ workir + relaunch new docker container (i use geteventsotre in docker - works fine) it works fine. But this morning not...

[2015-05-20 10:00] gregoryyoung commented on #35
send me a small (preferably < a few hundred mb, ideally say 500 events in
it) db that the events in $all are different.

i would be more likely to think this had something to do with us if you
said "we have one stream of 4 events that is missing" as opposed to "all of
our streams of type t are missing". The reason being we have no concept or
distention of type (just a string)

On Wed, May 20, 2015

[2015-05-20 10:12] ubourdon commented on #35
so. I stop tha database. delete container. delete db/ directory, rebuild container and charge data in database with the exaclty same http process, & it work perfectly ^^
In preprod env, I use more than thousand events (and it seems works fine) & in test mode (today) I use less than 50 events.

I understand that the problem can't be link to "aggregate stream".

[2015-05-20 10:12] ubourdon commented on #35
a 824 K db/ directory is it enough ?

[2015-05-20 10:13] gregoryyoung commented on #35
you mean zipped I'm guessing or?

On Wed, May 20, 2015 at 1:12 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-20 10:18] ubourdon commented on #35
no zipped ...
For testing i use very few events. It change something ?

[2015-05-20 10:19] gregoryyoung commented on #35
by default it pre-allocates a 256mb chunk. Have you changed this default?

On Wed, May 20, 2015 at 1:18 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-20 10:25] gregoryyoung commented on #35
Also how are you measuring that they are there?

Is it through the browser with the same uri every time? Did you make sure
caches were cleared in between if the same uris were there? There is an
option to turn off caching (which is what you want in production) for
development mode scenarios like this where you might be seeing cached data.

On Wed, May 20, 2015 at 1:19 PM, Greg Young <gregoryyoung1

[2015-05-20 10:40] ubourdon commented on #35
Cmd i use to launch Geteventstore :
[code]

[2015-05-20 10:43] ubourdon commented on #35
I mesure events are here in two way.
I use projection to mesure stream "aggregate" creation (to count the number of stream for a type of aggregate (ex: clientAccount or ticket) and I navigate through the stream brower ui.

[2015-05-20 10:45] gregoryyoung commented on #35
ok and what does the projection say in this case? That your aggregate
exists?

On Wed, May 20, 2015 at 1:43 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-20 10:51] gregoryyoung commented on #35
btw for stream browsing try using curl (and/or the development command line
argument) as it will bypass your cache.

On Wed, May 20, 2015 at 1:43 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-20 10:54] ubourdon commented on #35
yes the projection say aggregate instance is in the database.
The search engine of stream browser page also use cache ? Because I use only search engine.

[2015-05-20 11:01] gregoryyoung commented on #35
OK so

1) you don't have an 85kb /data directory (we preallocate 256mb to start by
default)
   1a) it can likely on a tiny db compress to this as its mostly white space
2) im willing to bet your issue is actually http caching and your
measurements (the stream isn't really there).

Try measuring with curl via the stream uri. If that shows the stream is
there but you can't get it through all then se

[2015-05-20 11:13] ubourdon commented on #35
Ok. At that time, the issue isn't there anymore.
I mesure db/ directory with `du -h`
I link you the db if the issue come back again.

Thx for your help.

[2015-05-22 15:26] ubourdon commented on #35
So.
Issue again.

I have more insight now.

First I send some event into database at some time & the subscription mecanism works perfectly.

Some day after, I resend other event in the database, there are in the database (i verify with curl)
```curl -i -H "Accept:application/vnd.eventstore.atom+json" "http://62.210.124.153:2113/streams/clientAccount-3e992e50-8b1d-772e-d629-dda7daa01203/0"```
, but

[2015-05-22 15:51] gregoryyoung commented on #35
Sounds to me like a bad position being sent up on a request (e.g. the
position associated with readeventsforward)

On Fri, May 22, 2015 at 6:26 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-22 15:53] ubourdon commented on #35
You mean when i start JVM client subscription I send bad `fromPositionExclusive`?

[2015-05-22 15:58] gregoryyoung commented on #35
Not sure that is one thing that could cause it. Or it could be a subsequent
request. A log from the client and what requests it was sending would help
here (e.g. did it generate the position or did you)

On Fri, May 22, 2015 at 6:53 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-22 16:03] ubourdon commented on #35
So it depends when.
When I read event, I store his position in localdatabase, and when i read another event after, i erase the previous position value and store the new.
If i restart my app, it start subscription process at lastEvent position i store.
But for testing, i perform delete of lastPosition store to restart subscription from Position 0.

For testing, i do that.
And the result is I watch

[2015-05-22 16:06] ubourdon commented on #35
[code]

[2015-05-22 16:07] gregoryyoung commented on #35
I'm not sure I understand this. A client log leading up to the error would
be much easier to parse. I am not sure if the bad position is the one you
are passing or if the subscription itself is generating it.

And you know the positions cannot be used from one db to another? Or if you
as example restart?

On Fri, May 22, 2015 at 7:03 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying f

[2015-05-22 16:19] ubourdon commented on #35
I store the event.commitPosition into key/value store database, not another getEventstore.
I dev that for when i restart my app, it don't relisten events already listened.

I have no client log error to display, the client JVM subscription don't say anything about error, for him, it seems those events don't exist, but i fact they do (when i test with curl cmd) .

[2015-05-22 16:25] gregoryyoung commented on #35
"I have no client log error to display, the client JVM subscription don't
say anything about error, for him, it seems those events don't exist, but i
fact they do (when i test with curl cmd) ."

I can assure you the client log (have you bothered enabling logging?) will
at least give a timeout since it will not get a response. Last I checked it
also logs requests it makes.

"I store the event.commi

[2015-05-22 20:00] t3hnar commented on #35
@ubourdon could you add `akka.loglevel = "DEBUG"` to your configuration ?

[2015-05-26 09:27] ubourdon commented on #35
With `akka.loglevel = "DEBUG"` I have thousand line of logs ... Difficult to send this to you :/

[2015-05-26 09:30] ubourdon commented on #35
With "normal" log :
[code]

[2015-05-26 09:37] ubourdon commented on #35
I have also this

[code]

[2015-05-26 11:38] ubourdon commented on #35
@gregoryyoung
"Let's make this more simple as perhaps its difficult. Is the position that is failing the position that you are passing in? The position is in the log message you put up. If you read the log message is that the same position that you pass into the subscription or a different one?"

I log the starting position send to subscription actor :
```2015-05-26 13:28:53,653 INFO  e.w.s.anstel

[2015-05-26 12:19] gregoryyoung commented on #35
It matters when you *get* the error. What I need to know is if the error is
for your number of something it does internally (e.g. the internal
subscription logic)

On Tue, May 26, 2015 at 2:38 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-26 13:43] ubourdon commented on #35
Sorry, I don't understand this point.
I don't understand what you need to see.

[2015-05-26 13:45] gregoryyoung commented on #35
The subscription itself in the jvm client has code for maintaining a
subscription (moving forward in an event stream).

You have code for saving a position and giving it back to the subscription.

I want to know if the place where you get the error above (with the bad
position being read) is a position the subscription generated or one that
you gave the subscription.

On Tue, May 26, 2015 at 4:43

[2015-05-26 13:50] ubourdon commented on #35
if you refere to this error :
[code]
I don't know from where `Position(120040376)` come from. It isn't a position i gave to the subscription JVM client.
I'm not sure this log represent the cause of the issue.

How can i find the event corresponding to this position on the http server side ?

[2015-05-26 13:53] gregoryyoung commented on #35
No I think we are all pretty sure hat that error is I was referring to this
one.

"Some day after, I resend other event in the database, there are in the
database (i verify with curl)

curl -i -H "Accept:application/vnd.eventstore.atom+json" "
http://62.210.124.153:2113/streams/clientAccount-3e992e50-8b1d-772e-d629-dda7daa01203/0
"
, but these ones don't be seen by the JVM client subscription proc

[2015-05-26 13:57] ubourdon commented on #35
You mean, with the same data, i restart another geteventore server, and i send bad start position from the JVM client to the server database ?
If it is so, I have checked this point by starting my app with Some(Position(0)) or with None in the line :
[code]

[2015-05-26 14:01] ubourdon commented on #35
Note that i still receive '$ event'. Only "domain events" seem to be concerned. (for example I have 168 "ticket" events in geteventstore, but JVM subscription client receives only 87 events, corresponding to the first batch of events sent to the geteventstore server).

[2015-05-26 14:01] gregoryyoung commented on #35
OK I can produce the exact error you are seeing with the following set of
operations.

Bring up eventstore (with tmp db to make things simple)
Start subscription. Have subscription save its position to wherever.

shutdown everything.
Bring up eventstore (with tmp db, note its NOT the same db as above).
Bring up subscription with checkpoint. -> Exact error you are seeing.

I am not sure why if you

[2015-05-26 14:19] ubourdon commented on #35
So,

If i start the client side subscription with Some(Position(0)) position, I don't receive any "domain" events.
If I start the client side subscription with None position, I receive the 87 "ticket" events (where it should be 187).

[2015-05-26 14:20] gregoryyoung commented on #35
Just send your database this is a vast waste of time

On Tue, May 26, 2015 at 5:19 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-26 14:25] ubourdon commented on #35
http://62.210.124.153:8000/db.tar.gz

[2015-05-26 14:46] ubourdon commented on #35
I just tested setting the databse on local instance, and I can't reproduce the bug :/

[2015-05-26 15:00] ubourdon commented on #35
For information, the distant geteventstore server I use, is installed into Docker : http://62.210.124.153:8000/Dockerfile

[2015-05-26 16:21] gregoryyoung commented on #35
"I just tested setting the databse on local instance, and I can't reproduce
the bug :/"

This tells me you are likely not experiencing it but seeing
caching/connectivity issues etc

On Tue, May 26, 2015 at 5:46 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-26 16:32] ubourdon commented on #35
That it I don't understand.
Y copy the exactly same data from distant geteventstore server to local geteventstore server.
So I have the exactly same data.

And I use the exactly same clientside code to perform subscription.

What could be the difference between the distant and the local server ?

[2015-05-26 16:33] gregoryyoung commented on #35
Look at logs on both. What is different in logs?

On Tue, May 26, 2015 at 7:32 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-26 16:41] ubourdon commented on #35
client side I see nothing different.
server side perhaps this :
[code]

But I don't know if it is significant.
But when I check all the logs it is the only *-err.log file present. Only for the distant server.

[2015-05-26 16:42] gregoryyoung commented on #35
You are running the same database both places right?

On Tue, May 26, 2015 at 7:41 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-26 16:42] ubourdon commented on #35
Yes

[2015-05-26 16:42] ubourdon commented on #35
I copy the db/ directory to the local server

[2015-05-26 16:43] gregoryyoung commented on #35
See above about that # in there. Where does it come from? Is it the same
you pass up or?

I am curious as well how the client logs can be the same with very
different behaviour.... perhaps you want to put them there?

On Tue, May 26, 2015 at 7:42 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-26 17:11] ubourdon commented on #35
What do you mean by # ?

I can't say that the logs are the same, but I don't see anything significant between the 2 situations client side.

I have lots of logs and I can't paste it here.
I must select the good parts.

[2015-05-27 12:37] ubourdon commented on #35
So I tried something.
I destroyed my geteventstore docker container, copied the data I had locally (previously copied from my distant server) to my distant server. And I ran a new docker container from the same image.
And the issue was not here.
So it seem that the issue is not in db/ directory, but I'm not more advanced.

[2015-05-27 12:38] gregoryyoung commented on #35
All of our data is stored in the db directory except for your configuration
and your code.

On Wed, May 27, 2015 at 3:37 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-27 13:00] ubourdon commented on #35
The fact I use docker container, where db/ is bind outside the container as a volume, could play a role ?

[2015-05-27 13:01] gregoryyoung commented on #35
Shouldn't.

On Wed, May 27, 2015 at 4:00 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-27 13:18] ubourdon commented on #35
If several subscription clients are listening to the same database, could it have some interference between them ?

[2015-05-27 13:19] jen20 commented on #35
Not unless you have competing consumers, which I doubt you do

--
James

[2015-05-27 13:23] gregoryyoung commented on #35
"maybe docker file system is broken" and has somehow understood your
aggregate structure that even event store doesn't understand to have issue
only affect aggregates of certain types?

I would pull out occams razor and focus on whats different with your code.

On Wed, May 27, 2015 at 4:19 PM, James Nugent <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-27 13:30] ubourdon commented on #35
There is nothing different in my code where it works and when it doesn't work. My subscription client code is stable since several days now.

[code]

[2015-05-27 13:33] gregoryyoung commented on #35
I'm going to close this thread as copying the same database makes the issue
"un reproducible"

If you find something further that you think this is event store and have
something even somewhat reproducible feel free to reopen this issue or
create another one.

On Wed, May 27, 2015 at 4:30 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-05-27 13:33] #35 closed

[2015-05-27 14:04] ubourdon commented on #35
ok

[2015-07-10 14:03] ahjohannessen opened #36 "spray dependencies"
Hi :)

Would it be possible to make the
[code]
`provided` in order to avoid having unnecessary dependencies?

[2015-07-10 14:06] ahjohannessen commented on #36
Ah, noticed that you use it for clustering.

[2015-07-10 14:07] ahjohannessen commented on #36
Closing it.

[2015-07-10 16:07] ahjohannessen commented on #36
@t3hnar wouldn't make sense use http://doc.akka.io/docs/akka-stream-and-http-experimental/1.0-RC4/scala/http/client-side/index.html instead of spray? :)

[2015-07-10 16:13] ahjohannessen commented on #36
As far as I can tell, only ClusterInfo uses spray http. WDYT?

[2015-07-10 16:28] t3hnar commented on #36
So I don't like dependency on spray, but there is nothing lightway in scala ecosystem for json/http.

What would you propose?

[2015-07-10 16:40] t3hnar commented on #36
@ahjohannessen akka http is not an option, like many times slower then spray right now and still not released.

[2015-07-10 17:11] ahjohannessen commented on #36
Perhaps http://dispatch.databinder.net/Dispatch.html is an option, seems to be a minimal library. Reason for asking this is because Akka 2.4 is around the corner and I do not know how well spray works with that. It might work just fine as they promise binary compatibility with 2.3. Just thought that it was quite a bit of libs to pull in.
There is also the client part of http4s, but I think that ha

[2015-07-10 17:16] ahjohannessen commented on #36
Here is another simple, no dependencies, http client. Found it via Google:
https://github.com/scalaj/scalaj-http

[2015-07-17 18:08] revati opened #37 "Including as dependency"
I can't find how i can add this project in my play framework build.sbt file to libraryDependencies.

Thanks for help

[2015-07-17 18:49] t3hnar commented on #37
1. http://prntscr.com/7tv8e3
2. http://prntscr.com/7tv8nc
3. http://prntscr.com/7tv8yo

[2015-07-18 11:47] revati commented on #37
Thanks :)

[2015-07-18 11:47] #37 closed

[2015-07-21 05:09] t3hnar opened #38 "Create streams api for subscriptions with backpressure supported"

[2015-07-22 14:39] ahjohannessen commented on #38
Wuhuu :)

[2015-07-22 14:40] gregoryyoung commented on #38
:+1:

[2015-07-22 14:43] ahjohannessen commented on #38
That will make some things much simpler in our code, looking very much forward to it. Next step could be create a contrib project with adaptors for scalaz-stream `Process` in similar way Martin Krasser has in his streamz project :)

[2015-07-22 14:46] ahjohannessen commented on #38
I am also looking forward to how Akka.Eventstore.Persistence will change when this lands in Akka:

https://github.com/akka/akka/compare/wip-16541-persistence-query

[2015-07-22 20:18] t3hnar commented on #38
:)

[2015-08-02 08:30] t3hnar commented on #38
released in `2.0.3`

[2015-08-02 08:30] #38 closed

[2015-08-04 09:26] pawelkaczor commented on #22
+1

[2015-08-04 09:30] pawelkaczor commented on #38
:+1:

[2015-08-24 21:52] vornet opened #39 "Subscribe to All Example"
The "Subscribe to All" example uses an EsConnection and the implementation doesn't send messages like the other examples (read/write).  Is it possible to send messages to subscribe so that I can share the same connection, used in read/write?

I tried something like this, but it doesn't work:

{
        final ActorRef subscriptionObserver = _system.actorOf(Props.create(SubscriptionObserver.class));

[2015-08-25 04:58] t3hnar commented on #39
You should use:
[code]

In general `EsConnection.java` implemented via proxying messages to the actor.

[2015-08-27 09:01] ahjohannessen opened #40 "build: reason for withSources"
I noticed that the published jar has dependency on a series of sources. I believe it is recommended that one should use `updateClassifiers` in sbt in order to fetch sources and javadocs.

Is it possible that you could remove `.map(_.withSources())` and publish a new version? Reason for asking is that I get a few of those sources while using sbt-native-packager to package my applications and I woul

[2015-08-27 09:40] t3hnar commented on #40
@ahjohannessen my bad, will fix it, can you wait until akka 2.4 release or want it now?

[2015-08-27 10:30] ahjohannessen commented on #40
I can wait, thanks Yaroslav :+1:

[2015-08-27 13:33] ahjohannessen commented on #40
Btw, as a part of moving to 2.4 it would be nice if you also bumped to scala 2.11.7 :)

[2015-08-27 16:43] t3hnar commented on #40
I cannot bump to `2.11.7`... there is a bug in compiler, however it works nice with `2.11.7` at runtime

[2015-08-27 17:18] ahjohannessen commented on #40
I noticed that when I tried to compile it with 2.11.7, somehow it has issues compiling:
[code]
with `metadata` and `streamDeleted` being problematic.

[2015-08-27 17:36] ahjohannessen commented on #40
I found a workaround:
[code]

[2015-08-27 19:34] ahjohannessen commented on #40
If you leave xlint out it should work:
scalacOptions        := Seq("-encoding", "UTF-8", "-unchecked", "-deprecation", "-feature"/*, "-Xlint"*/)

[2015-08-28 09:08] ahjohannessen commented on #40
Just to be complete, not that I think 2.11.7 is that important, just sharing my findings :) You can turn off the “missing interpolator” warning individually with `-Xlint:_,-missing-interpolator`

[2015-09-07 09:53] ahjohannessen opened #41 "ES v3.2.0 compatibility"
Hi @t3hnar

I wonder if #619 mentioned in https://geteventstore.com/blog/20150906/event-store-3.2.0-released/index.html would cause any issues using the jvm client? It states the following:

*A new NotReady response to client API requests which are received before the server is ready (e.g. authentication set up) is used.*

[2015-09-07 10:00] ahjohannessen commented on #41
I suppose you have already taken that into account as I can see the following in `SubscriptionOperation` and `SimpleOperation` :)

[code]

[2015-09-07 10:03] t3hnar commented on #41
:)

But truly saying I have not tested with exactly `3.2.0` build yet.
Btw, I'm working right now on having JVM client with competing consumers support released.

[2015-09-07 10:13] ahjohannessen commented on #41
Nice to hear :+1: It is going to be great to get a release that has that and 2.4 support :) Looking forward to it :sunglasses:

[2015-09-07 15:37] gregoryyoung commented on #41
Not ready has been around for quite a while (about a year IIRC)

@t3hnar let me know if I can help with anything with competing.

[2015-09-16 11:23] fafzal opened #42 "Operation hasn't got response from server for PackOut"
Getting a below exception when client application trying to read events from EventStore. The exception not always occur. I am running an application inside a docker container, I use a EventStore client ver 2.0.3. I already try setting a operation timeout property to 1m but its doesn't solve a problem.

Operation hasn't got response from server for PackOut(ReadStreamEvents(Stream(auction),EventNumb

[2015-09-16 11:34] t3hnar commented on #42
strange... @fafzal  could you please try to experiment with `maxCount`, it is `500`

[2015-09-16 11:40] gregoryyoung commented on #42
What if anything is in your eventstore logs when this happens?

On Wed, Sep 16, 2015 at 2:34 PM, Yaroslav Klymko <notifications@github.com>
wrote:

--
Studying for the Turing test

[2015-09-16 12:05] fafzal commented on #42
@gregoryyoung nothing strange i can see in EventStore logs.

[2015-09-16 12:10] gregoryyoung commented on #42
ok I would suggest trying with smaller than 500 if there are some very big
events this could cause quite an issue .... Do you get the same behaviour
with 50?

On Wed, Sep 16, 2015 at 3:05 PM, fafzal <notifications@github.com> wrote:

--
Studying for the Turing test

[2015-09-16 12:36] fafzal commented on #42
OK, I didn't find 'maxCount' property in the client api, do I need to set it on server side?.

[2015-09-16 13:09] t3hnar commented on #42
could you provide code on how you are using the client

[2015-09-16 14:24] fafzal commented on #42
Here it is.

Health check code:

[code]

SubscribeToStream:
[code]

[2015-09-16 14:28] t3hnar commented on #42
ok, so no direct read,
Ok, then please configure it in your `application.conf` like: `eventstore.read-batch-size = 50`

[2015-09-16 14:48] fafzal commented on #42
Strange, getting a same exception even though I set a batch size to 50.

[code]

[2015-09-16 14:53] gregoryyoung commented on #42
Does it take one minute to timeout or?

On Wed, Sep 16, 2015 at 5:48 PM, fafzal <notifications@github.com> wrote:

--
Studying for the Turing test

[2015-09-16 15:07] fafzal commented on #42
No. Its doesn't take 1m to timeout. Its throws an exception immediately after connecting to ES node.

[code]

[2015-10-01 09:29] t3hnar commented on #36
@ahjohannessen closing this one for now, will replace spray with `akka-http` when it gets more performant.

[2015-10-01 09:30] #40 closed

[2015-11-04 15:04] maciekciolek opened #44 "EventStoreExtension should not use Settings.Default"
Hello,
I met problems with using EventStoreExtension, because by default it configures ESConnection with Settings.Default:

[code]
Setting.Default are built as follow:

[code]

It means that configuration will not origin from passed ActorSystem, but from application.conf. I suggest to create this Settings from system.settings.config.

[2015-11-04 15:07] t3hnar commented on #44
@maciekciolek, yep I can change that EventStoreExtension use same conf as passed to ActorSystem, however I cannot change Settings.Default, as it is a static `Object`

[2015-11-04 15:16] maciekciolek commented on #44
@t3hnar it would be great if EventStoreExtension will use config from ActorSystem. I think it is the best solution.

[2015-11-08 23:19] maciekciolek commented on #44
@t3hnar can you provide me the time when are plan to fix it? Thank in advance for help.

[2015-11-09 06:10] #44 closed

[2015-11-09 06:47] t3hnar commented on #44
@maciekciolek fixed in `v2.1.2`

[2015-11-28 21:09] sthzg commented on #37
:+1: thanks for pointing out. in my opinion it would be great having the snippets for maven and sbt in the README as well. anyways, thanks for the project.

[2015-12-11 06:55] t3hnar opened #46 "Custom Settings object is not used by subscription"
https://groups.google.com/forum/#!topic/event-store/HggyEmiw7kU

[2015-12-11 11:21] jansoren opened #47 "EventStore.JVM example?"
Is there a good EventStore.JVM example out there?
Different implementations of event sourcing is using different naming (for example - projection is the same as query and view)
Is there an architecture picture that shows which naming EventStore.JVM is using and is the naming reflected in the code?

[2015-12-11 14:24] gregoryyoung commented on #47
None of those terms exist in the JVM client. There is a catchup
subscription which can be used for such things but it isn't an event
sourcing framework it only supports operations to the db

On Fri, Dec 11, 2015 at 11:21 AM, Jan-Terje Sørensen <
notifications@github.com> wrote:

--
Studying for the Turing test

[2015-12-11 16:00] jansoren commented on #47
Do you happen to know if there is someone who works with an Event Sourced framework for the EventStore.JVM? Or is it intended that EventStore.JVM is to become such a framework?

[2015-12-11 16:30] gregoryyoung commented on #47
It is not intended to be a framework. As a product we prefer to not be
involved in operating frameworks and prefer there to many open opinionated
frameworks. This is also supported by many people who use eventstore not
actually using event sourcing at all but instead are using it as a
transport. That said there are a few on the JVM including axon and
akka.persistence. We do provide an adapter for

[2015-12-11 16:37] jansoren commented on #47
Thanks for the clarification :-)

[2015-12-11 16:37] #47 closed

[2015-12-26 18:46] #46 closed

[2016-01-25 13:44] pawelkaczor opened #48 "Anonymous actors should be avoided if possible"
While monitoring my app using the Kamon I got confused by names of anonymous actors showing up on the dashboard. The actors were constantly processing some messages. By examining the log I discovered that the actors were created by the Eventstore.JVM:

[code]

Is it possible to give some names to these actors?

[2016-01-25 13:46] t3hnar commented on #48
@pawelkaczor not sure about names, but at least I can try to put them under a kind of supervisor

[2016-01-25 13:49] pawelkaczor commented on #48
@t3hnar That would be nice. My goal is to filter them out using kamon metric filters.

[2016-02-19 15:23] Chumper commented on #22
:+1:

[2016-02-21 10:21] ahjohannessen commented on #36
@t3hnar Could we reconsider this now Akka 2.4.2 is out with http?

[2016-02-21 10:23] t3hnar commented on #36
@ahjohannessen yep, it does make sense now.

[2016-02-21 10:23] ahjohannessen commented on #36
As far as I can tell, performance of akka http server side functionality is quite good according to https://groups.google.com/forum/#!topic/akka-user/XB7H2n2r-9A - I am not sure how well it fares with client side, but many things indicate that it should be fast

[2016-02-21 10:33] ahjohannessen commented on #36
@t3hnar Is `https://gitter.im/EventStore/EventStore.Akka.Persistence` not active? I think it would be nice to have a `https://gitter.im/EventStore/EventStore.Akka.Persistence` and `https://gitter.im/EventStore/EventStore.JVM` as place to bounce off ideas and such :)

[2016-02-21 10:40] t3hnar commented on #36
@ahjohannessen those are not active. I'd prefer to have all ideas in one place - http://groups.google.com/forum/#!forum/event-store

[2016-02-21 10:45] ahjohannessen commented on #36
Yes, I can follow that point of view.

[2016-04-02 02:19] kellyelton opened #50 "build on windows fails (v8, due missing directory)"
@robvdlv commented on [Tue Feb 10 2015](https://github.com/EventStore/EventStore/issues/392)

Attempting a from-scratch build of dev branch @87e7c77e913377ce4619e47db6b5d5e6373688b5 on Windows 8.1. AFAIK I have met all prerequisites in terms of what needs to be installed and available on path. Using powershell to build, with full rights.

See below for details.
As far as I can see, there seems to

[2016-04-05 06:51] rickardoberg opened #51 "Position of written event is always zero"
EventStore v3.5.0
Akka Client v2.2.1

When writing events using "ask(connection, message, writeTimeout)", but not immediately joining on the returned Future, I often get that the WriteEventsCompleted message always has the same range and position:
Some(EventNumber.Range(0 to 3)), position: Some(Position(0))

Isn't position supposed to increase every time an event is written?

The client in this ca

[2016-04-05 07:38] rickardoberg commented on #51
I have now verified that it is actually the exact same WriteEventsCompleted message object that is being handed to future.onComplete, over and over again. Hence the same position over and over again. In what circumstance would this happen?

[2016-04-05 07:43] t3hnar commented on #51
Hi @rickardoberg , I have a feeling that you stored future of your first call and then reuses it by `joining` multiple times hence you are getting the same result. Once future completed - it does not change.
You need to use future of every `ask` separately.

[2016-04-05 08:02] rickardoberg commented on #51
Hi @t3hnar, interesting theory. I added a debug output to onComplete to see if this was the case. Here's the output from two consecutive onComplete:
Some(EventNumber.Range(0 to 3)), position: Some(Position(0)), hash: 200448379, future: 2090793093, this: 37530582

Some(EventNumber.Range(0 to 3)), position: Some(Position(0)), hash: 200448379, future: 1812325936, this: 995644430

So, same WriteEvents

[2016-04-05 08:03] t3hnar commented on #51
@rickardoberg  could you make a short prototype to reproduce your issue and paste it here?

[2016-04-05 08:57] rickardoberg commented on #51
Here's a minimal repro test. Wrap it in a JUnit test to run (I made it invokable from my app to test it in EC2). If I run it locally it is fine, but in EC2 (with 3 instance cluster), I get the following output:

[code]
[WriteTest.java.zip](https://github.com/EventStore/EventStore.JVM/files/204112/WriteTest.java.zip)

In this case the message, future, and handler seem to be different every time, wi

[2016-04-05 09:16] t3hnar commented on #51
@rickardoberg so according to your example, you are writing events to different streams, thus you have same range.

[2016-04-05 09:21] rickardoberg commented on #51
@t3hnar not sure I follow. Yes, all events go to different streams (aggregate id's). But position is global right? Not per stream? As above, I only have a problem with this in EC2, locally it works as expected (position always increases).

[2016-04-05 09:21] t3hnar commented on #51
@rickardoberg can you observer see zero position without cluster setup ?

[2016-04-05 09:25] t3hnar commented on #51
So to clarify

* same range - _is expected behaviour_
* same position - _unexpected_

And it has nothing todo with _when_ you are joining the `Future`

@gregoryyoung AFAIK client simply use Position received from server

[2016-04-05 09:25] gregoryyoung commented on #51
@rickardoberg position there is referring to the position within the stream (if you do a second write it will be 1). We have considered also returning here the overall position (like the one used in a fromall subscription). Do you have a use case for needing it?

[2016-04-05 09:29] rickardoberg commented on #51
@gregoryyoung oh, if that is the case I am really screwed, and also really confused. So, when I do a write I take the position and let the client know this, and next read is blocking until db updater has seen at least that position. If position is increasing globally for each write, it works, and locally that seems to be fine. Since the whole system is eventually consistent I am absolutely depende

[2016-04-05 09:31] rickardoberg commented on #51
@t3hnar I can confirm that if I turn off cluster feature in EC2 and run import, then position increases properly as expected, and the object hash of each message is different.

[2016-04-05 09:52] gregoryyoung commented on #51
@t3hnar which message?

https://github.com/EventStore/EventStore/blob/release-v3.6.0/src/Protos/ClientAPI/ClientMessageDtos.proto#L56

Here there is the first_event/last_event which will point to relative positions.

The prepare_position/commit_position should point to the log position (scratch my comment above about adding it was added).

Whether its single node or with a cluster should have no a

[2016-04-05 09:57] t3hnar commented on #51
@gregoryyoung

Position.toString
[code]

[2016-04-05 10:46] rickardoberg commented on #51
@gregoryyoung to add to my usecase: in the running system I use it as per above, for handling the eventual consistency. For the import I run several CSV imports in parallel, record the highest position of all WriteEventsCompleted, and afterwards just wait for db updater to have seen that highest position. In non-cluster this works great, but with cluster it doesn't work at all, as db updater repor

[2016-04-05 10:51] gregoryyoung commented on #51
@rickardoberg it should be there.

You are saying you get it on a single node but not a cluster?

[2016-04-05 10:51] t3hnar commented on #51
@gregoryyoung I've just tried with `ES 3.0.4.0` and it does work correctly for cluster.
Going to try against `ES 3.5.0`

[2016-04-05 10:53] rickardoberg commented on #51
@gregoryyoung for single node the WriteEventsCompleted returns commit position (=good), whereas in a cluster it returns stream position (=bad).

[2016-04-05 10:54] gregoryyoung commented on #51
@rickardoberg it returns both on every message. I am a bit confused.https://github.com/EventStore/EventStore/blob/release-v3.6.0/src/Protos/ClientAPI/ClientMessageDtos.proto#L56

[2016-04-05 10:56] t3hnar commented on #51
@rickardoberg @gregoryyoung cannot reproduce locally against cluster of 3 nodes `v3.5.0`

[2016-04-05 10:56] t3hnar commented on #51
@gregoryyoung most probably not a client issue...

[2016-04-05 11:18] rickardoberg commented on #51
@t3hnar are you saying that with the provided test case the position you get from WriteEventsCompleted is the commit position? Or what results exactly are you seeing?

[2016-04-05 11:25] rickardoberg commented on #51
FFS, just saw that WriteTest does completed.position() instead of completed.position().get().commitPosition(). Going to see if that is what has been tripping me up all this while. BRB

[2016-04-05 12:05] rickardoberg commented on #51
Nope, didn't help. If I run WriteTest against a single node it works, in that WriteEventsCompleted returns a commitPosition that increases. Same code against a 3-instance 3.5.0.0 EventStore cluster, and commitPosition is always 0, with the object hash of WriteEventsCompleted always being the same number (indicating the same instance being used). Any ideas are most welcome.

[2016-04-05 12:13] t3hnar commented on #51
@rickardoberg looks like server issue.

Exactly with your example it works as expected on my local OSX environment.

[2016-04-05 12:22] gregoryyoung commented on #51
@t3hnar this entire thread is very confusing.

How are we determining that this is a server issue? If it is why can't you reproduce it?

[2016-04-05 12:26] t3hnar commented on #51
@gregoryyoung as far as I can see client does not do magic inside and just proxies numbers received from server. Also there has been used same client on @rickardoberg side for both cluster and non-cluster setups, thus I assume that it is a server issue, do you personally suspect client? :)

[2016-04-05 12:37] gregoryyoung commented on #51
I just want to nail down a reproduction :smile:

I have a suspicion of what could be a server issue but need to have a repro first. @rickardoberg can you confirm if the client is connected to the master node of the cluster or a slave?

[2016-04-05 14:01] rickardoberg commented on #51
@gregoryyoung good catch! If I run the test on a server that connects to a slave, that is when I get the position=0. If I run the exact same test on a server that connects to master, then position increases as expected. So, it seems like writes to slaves are what is the problem. @t3hnar can you repro this with the code I gave you?

[2016-04-05 14:05] gregoryyoung commented on #51
@rickardoberg my guess is the fields arent being copied after the forward->response. I will have to dig through for where that occurs

[2016-04-05 14:07] gregoryyoung commented on #51
found it I will have a PR within 30-60 minutes

[2016-04-05 14:14] rickardoberg commented on #51
Fantastic! Any sense of when the next maint release will be which includes this?

[2016-04-05 14:19] gregoryyoung commented on #51
Its just about to begin testing. To be fair that branch is usually pretty stable. There are not that many changes in it as of now.

[2016-04-05 16:09] gregoryyoung commented on #51
forgot to put earlier https://github.com/EventStore/EventStore/pull/883 you should be able to just build locally to test etc

[2016-05-02 10:58] SoftMemes opened #52 "Support for competing consumers"
I've started looking at the new competing consumers / persistent subscriptions available in EventStore, but cannot find any sign of them in this JVM client. I'd love to be able to use them but will need to do so from Java - is there a plan/timeline for support?

Connecting to a subscription group and ack/nak would be enough for my project atm, creating subscription groups could be done separately.

[2016-05-02 10:59] gregoryyoung commented on #52
See https://github.com/EventStore/EventStore.JVM/tree/competing-consumers not sure of the state of it though @t3hnar ?

[2016-05-24 14:09] Konfuzzyus opened #53 "Subscribing to a stream containing links to deleted events crashes StreamSubscriptionActor"
When subscribing with resolveLinkTos=true to a stream that contains event links to events that have been deleted, the StreamSubscriptionActor will terminate with an IllegalArgumentException when the event in question is parsed from the protobuf.

Exception text:

I can reliably reproduce the exception by writing an event of type "TestType" to a random stream in an ES instance with projections enab

[2016-05-24 14:12] gregoryyoung commented on #53
It should probably return them as unresolved (this is what the .net client does)

[2016-05-24 14:26] #51 closed

[2016-05-24 17:00] kristian-elder commented on #53
+1, this is affecting us as well.

For now, we are working around it by using new "namespaces" for streams during testing/developement, and never actually deleting streams.

[2016-05-24 17:04] t3hnar commented on #53
Will release fix shortly

[2016-05-24 17:09] kristian-elder opened #54 "Require master flag taken from Default settings rather than connection settings"
WriteEvents in Message.scala uses Settings.Default.requireMaster as default value for requireMaster and EsConnectionImpl does not pass an override.

For now we can work around this by using the config files, but as we have another config system in place, we'd really prefer that the setting from the Settings object passed to EsConnectionFactory.create would be used (as expected).

This appears to a

[2016-05-24 17:34] gregoryyoung commented on #54
You can specify as well reads to require master (and there are some reasons you may prefer to do this)

[2016-05-24 17:41] kristian-elder commented on #54
Not objecting to that statement at all, for us this simply came up in a write.

The issue is that you cannot specify in code whether to require master or not, per connection or per operation - the setting from external configuration is always used.

[2016-05-24 17:56] t3hnar commented on #54
@kristian-elder But EsConnection is not supposed override this, you should pass on per message basis like `WriteEvents(requireMaster = true)`

[2016-05-24 18:02] kristian-elder commented on #54
Sorry, I should have been more precise.

This is for the Java API: eventstore.j.EsConnection

[2016-05-24 18:49] t3hnar commented on #54
@kristian-elder I will add ability to pass `requireMaster` as argument to `EsConnection.writeEvents` method

[2016-05-24 18:50] t3hnar commented on #54
And also use connection settings in case `requireMaster` is not passed via method

[2016-05-25 08:15] kristian-elder commented on #54
Awesome, many thanks!

[2016-05-29 20:23] #50 closed

[2016-05-30 10:00] t3hnar commented on #53
Fixed in [v2.2.2](http://search.maven.org/#search%7Cga%7C1%7Cg%3Acom.geteventstore%20AND%20eventstore-client)

[2016-05-30 10:00] #53 closed

[2016-05-30 10:00] t3hnar commented on #54
Fixed in [v2.2.2](http://search.maven.org/#search%7Cga%7C1%7Cg%3Acom.geteventstore%20AND%20eventstore-client)

[2016-05-31 09:13] Konfuzzyus commented on #53
Verified to work on our system. Thanks for the quick resolution.

[2016-06-14 11:41] spand opened #55 "EsConnection.subscribe catchup exhibits multiple problems"
During startup of my application yesterday I had the following output to stdout. I subscribe to the allstream so it is processing for about a minute before it reaches the live events state.

My interpretation of the the log output is:
* The library is requesting so large batches that it triggers internal timeouts.
* An actor then apparently finishes receiving its events but cannot send it anywhere

[2016-06-16 07:31] t3hnar commented on #55
Hi @spand, what are your memory configurations for the application?
Could you provide a sample code that can reproduce this.

There is a built in back pressure mechanism, thus we usually are not reading more then able to process

[2016-07-08 08:12] kristian-elder opened #56 "Eventstore connection dies and becomes unresponsive after intense read/writes"
I'm running an import job on EventStore using the Java client, which consists of 10's of thousands of individual transactictions, each writing to a new stream.

Everything is going well and my streams get created - up to a point. After a number of writes (1000+ transactions), I'm seeing the stracktrace below in the logs, with future writes resulting in an AskTimeoutException.

Having had a look at

[2016-07-08 10:48] ahjohannessen opened #57 "LinkTo functionality"
Would it be possible to get some sort of LinkTo functionality similar to that you have in JS projections? I rather stay away from JS code, and thought that it could be a nice feature to have, if possible. Essentially doing the filtering on client side and avoiding duplicate space by using links.

@gregoryyoung Is LinkTo possible via ES API?

[2016-07-08 10:49] jen20 commented on #57
You can - look at the event format which is created by a linkTo and replicate it with your own write.

I believe the event type has to be `$>` and the body must be of the form `streamName@eventNumber`.

[2016-07-08 10:55] ahjohannessen commented on #57
@jen20 Great, that sounds promising :)

[2016-07-08 11:02] jen20 commented on #57
Great - I'll close this issue for now - please feel free to reopen if you have difficulties writing the links!

[2016-07-08 11:02] #57 closed

[2016-07-08 11:09] ahjohannessen commented on #57
@jen20 I was more thinking that it could be a nice feature to add to the JVM client, but perhaps first kick some tires before suggesting that it should be a part of the JVM client.

[2016-07-08 11:22] gregoryyoung commented on #57
What would be the 'feature'? Its just an event with a type name

On Fri, Jul 8, 2016 at 2:09 PM, Alex Henning Johannessen <
notifications@github.com> wrote:

--
Studying for the Turing test

[2016-07-08 11:32] ahjohannessen commented on #57
@gregoryyoung Ability to have that functionality and let the JVM client worry about potential gotchas and details wrt. type has to be `$>` and body must be of form `streamName@eventNumber`. However, it was mostly an idea that I thought could be very useful for our applications and did not know what it would take to make that happen.

Sure, I will try make this myself first. Is there anything speci

[2016-07-08 11:40] t3hnar commented on #57
There is such feature in JVM client, https://github.com/EventStore/EventStore.JVM/blob/master/src/main/scala/eventstore/Event.scala#L19

[2016-07-08 11:42] t3hnar commented on #57
there are some tests covering `LinkTo` functionality you can use as examples
https://github.com/EventStore/EventStore.JVM/blob/master/src/test/scala/eventstore/TestConnection.scala#L57

[2016-07-08 11:46] ahjohannessen commented on #57
Look how enlightened I am :dancers: - Super @t3hnar

[2016-07-24 16:20] #54 closed

[2016-07-30 05:59] #39 closed

[2016-07-30 05:59] #30 closed

[2016-08-22 15:14] ubourdon opened #58 "Memory leak with jvm client 2.0.2"
I have this kind of message when i try to write several event in get eventstore (3.0.3) witj JVM Client (2.0.2)

I reproduce with eventstore 3.8.1 & JVM client 2.0.2.

[code]

Any idea on what happened ?

The number of event is ~200 /sec not very strong throughput.

The result of that seems an explosion of my JVM memory and the crash of my app.

[2016-08-22 15:18] gregoryyoung commented on #58
Its seems you are queueing messages. What are your configuration
settings/hardware? 192mb is a very small amount of memory to fail on.

On Mon, Aug 22, 2016 at 4:14 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-22 15:22] ubourdon commented on #58
My app server is 2 Go RAM server. I reproduce the error when i use 8 Go RAM server.
I use Paas, i will ask more information to my PAAS provider.

[2016-08-22 15:27] ubourdon commented on #58
My PAAS provider answer to me that this value is only a info aboit a try to allocate new memory not about all the memory allocate yet.

[2016-08-22 15:31] gregoryyoung commented on #58
Its failing to allocate memory is the error. you would need to monitor what
your actual memory usage is. If you look at $statistics stream this number
is actually measured or you can run top on the machine. Is the
client/server both on the same node?

On Mon, Aug 22, 2016 at 4:27 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-22 15:33] ubourdon commented on #58
Client and server are deployed on different machine.
I monitor my app memory and i can see JVM memory increased to near max JVM memory just before crash.

[2016-08-22 15:35] gregoryyoung commented on #58
I'll let @t3hnar reply but my guess is you have messages queuing up. From the outside what do you see in terms of messages in process?

[2016-08-22 15:39] ubourdon commented on #58
What do you mean messages in process ?

I see that in my log :
[code]

The settings of the JVM for the 2 Go RAM server is :
[code]

[2016-08-22 15:40] gregoryyoung commented on #58
You should have some idea of how many outstanding operations you have no?

On Mon, Aug 22, 2016 at 4:39 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-22 15:46] ubourdon commented on #58
I use a projection to capture stream creation.
The rate increase from 0 to 300 event /secondes.
The number of stream created is ~2500 on 22000 sent.
But for each stream created I add some 1 or 2 additional event that is not added for the majority of the 2500 stream created.

I send each stream creation in // but each event of an event stream sequentially.

[2016-08-22 15:48] gregoryyoung commented on #58
I assume you are using futures/messages with the API. How many operations
are outstanding? EG you have said "write event asynchronously" but have not
replied saying it was written.

On Mon, Aug 22, 2016 at 4:46 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-22 15:50] ubourdon commented on #58
I use the scala Future API yes.
I said I send event asynchronously and I mesure that only part of them are written in geteventstore (~2500 on 22000)

[2016-08-22 15:53] gregoryyoung commented on #58
How many outstanding operations do you have? It seems you have 20,000
outstanding operations is this correct? This could certainly blow up memory
depending on event sizes on a 2gb node.

On Mon, Aug 22, 2016 at 4:50 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-22 15:57] ubourdon commented on #58
I send 22000 group of event (2 or 3 events per group max) but each event is ~5 lines json, so i dont think it allocate more than several Mo of data.

[2016-08-22 16:00] ubourdon commented on #58
For each write of event in existing stream, i read the stream before (to build my current state and decide if command can become event).

[2016-08-22 16:00] ubourdon commented on #58
But i test with only event to create stream and it change nothing.

[2016-08-22 16:02] gregoryyoung commented on #58
Creating a stream vs writing to a stream makes no difference. The number of outstanding operations makes a big difference. I will wait for @t3hnar to reply.

[2016-08-22 16:11] ubourdon commented on #58
I test with 2000 streams.
I passed from 120 Mb to 1260 Mb on memory RAM.
All the events was not write.

[2016-08-22 16:16] gregoryyoung commented on #58
You seem to not understand. It sounds like your async calls are being put
in memory. The root cause of the issue (out of memory) is likely this. Why
they are being put there is another story. As I said before I will wait for
Yaroslav to reply.

On Mon, Aug 22, 2016 at 5:11 PM, @ugobourdon <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-24 14:41] Konfuzzyus opened #59 "Subscription invokes onLiveProcessingStart multiple times"
Observed with EventStore.JVM v2.2.2, on Eventstore v3.8.0.0.

Scenario:
We are running our service off a single subscription to all events and are seeing multiple invocations of the onLiveProcessingStart callback. The subscription is created using `subscribeToAllFrom(observer, null, true, null)` which I assume to be identical to `subscribeToAll(observer, true, null)`. There are roughly 1.5M non-sy

[2016-08-24 15:30] Konfuzzyus opened #60 "Subscription closes spontaneously"
Observed with EventStore.JVM v2.2.2, on Eventstore v3.8.0.0.

Scenario:
We are running our service off a single subscription to all events and see that the subscription occasionally closes itself without any discernible cause. The subscription is created using subscribeToAllFrom(observer, null, true, null) which I assume to be identical to subscribeToAll(observer, true, null). There are roughly 1.

[2016-08-24 18:53] gregoryyoung commented on #60
The server is reporting a connection reset by peer.

Message [eventstore.StreamEventAppeared]

This appears to be a live subscription. If so you likely need to
resubscribe on the loss of a connection (live subscriptions are scoped
to connections)

On Wed, Aug 24, 2016 at 4:30 PM, Christian Meyer <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-24 18:54] gregoryyoung commented on #59
Expected behavior:
The callback is invoked exactly once when the subscription changes from
emitting events that existed at the time the subscription was created to
emitting events that appeared after the subscription was created.

And if the subscription falls behind and is no longer live?

On Wed, Aug 24, 2016 at 3:41 PM, Christian Meyer <notifications@github.com>
wrote:

--
Studying for the Turi

[2016-08-25 06:15] Konfuzzyus commented on #59
This is the documentation of the `SubscriptionObserver` interface
[code]
I assumed there was no way back from the live subscription phase to the reading phase, since the interface is missing an onSubscriptionFellBehind function.

What exactly is the definition of "falls behind"? Any client will always be "behind" the server due to latency.

[2016-08-25 06:31] Konfuzzyus commented on #60
I am almost certain the subscription closing is causing the connection loss (because we terminate the application if the subscription closes without us having instructed it to do so).

Assuming there is a network interruption (loss of connectivity), shouldn't the client attempt to reconnect to the server? (Network issues are unlikely as both Eventstore and client application run on the same host).

[2016-08-25 07:35] t3hnar commented on #59
@Konfuzzyus `liveProcessingStarted ` may be called more then once in case of reconnects, let's say there was a network issue, clients reconnects -> subscription catches up -> switches to live processing again.

[2016-08-25 07:36] t3hnar commented on #59
@Konfuzzyus I suppose issue described in #60 is the root cause and current should be closed, please reply if you against.

[2016-08-25 08:05] Konfuzzyus commented on #59
@t3hnar Thanks for the clarification. Considering your explanation the behavior makes sense. Maybe extend the documentation of the onLiveProcessingStarted so it also mentions the behavior when the client reconnects.

Now to figure out why our network connections are this flaky...

[2016-08-25 08:05] #59 closed

[2016-08-25 08:13] Konfuzzyus commented on #60
So after the clarification from @t3hnar on #59 I assume the client actor "reconnects" quite a few times during the life cycle of the subscription and then eventually gives up (terminates). However, I currently can't see any evidence of connections issues in the Eventstore logs and, as previously mentioned, Eventstore and the subscribing service are co-located, so I would assume there to be very fe

[2016-08-25 14:13] gregoryyoung commented on #60
@t3hnar is currently on holidays but likely would be the best person to
help look into this. He is back in +- 6 days IIRC.

On Thu, Aug 25, 2016 at 9:13 AM, Christian Meyer <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-08-27 09:16] t3hnar commented on #58
@ubourdon are you able to reproduce this using simple shareable example?
I'm really eager to take a look on your code.

[2016-08-30 11:18] ahjohannessen opened #61 "Upgrade protobuf to 3.0.0"
Is there a chance that we can upgrade protobuf to 3.0.0 or perhaps rely on akka-protobuf instead (which I believe is 2.5.0 internalized to akka)?

Protobuf 3.0.0 should be able to handle proto2 formats just fine.

[2016-08-30 11:19] t3hnar commented on #61
I'll check

[2016-08-30 11:28] ahjohannessen commented on #61
Great :) Also, the following projects might be of interest with regards to having a protoc jar instead of fetching native bits in your CI build file:
 - https://github.com/os72/protoc-jar
 - https://github.com/sbt/sbt-protobuf

[2016-08-30 13:28] t3hnar commented on #61
thx, proton-jar is a nice finding

[2016-08-30 15:25] t3hnar commented on #61
@ahjohannessen as far as I can see akka still uses protobuf version `2.4.9`

[2016-08-30 15:37] t3hnar commented on #61
@ahjohannessen upgrade to 3.0.0 won't happen for now... Also I cannot externalise to akka's protobuf version as client does not require corresponding akka modules.

What's your use case which raised this issue?

[2016-08-30 15:44] ahjohannessen commented on #61
As far as I can tell by browsing dependencies on https://index.scala-lang.org/akka/akka I do not see any google protobuf dependency.

The use case that raises this is using gprc 1.0.0 in projects that use eventstore-jvm and persistence.

[2016-08-30 15:47] t3hnar commented on #61
@ahjohannessen oh what a confusion...
http://repo1.maven.org/maven2/com/typesafe/akka/akka-remote_2.11/2.4.9/akka-remote_2.11-2.4.9.pom
it's `akka-protobuf`

[2016-08-30 15:48] ahjohannessen commented on #61
Yes, akka-protobuf is a copy and paste of protobuf 2.5.0, IIRC - done in order to avoid situations like this one.

[2016-08-30 15:49] t3hnar commented on #61
@ahjohannessen Yep, I can see this now, was not like this when I added deps.

[2016-08-30 15:58] ahjohannessen commented on #61
This was the commit that introduced akka-protobuf: https://github.com/akka/akka/commit/c3ecb87a65b807ce304b40b946baae525ce5158b

[2016-08-30 16:00] ahjohannessen commented on #61
It might be an idea to go with akka-protobuf in order to sidestep dependency conflicts.

[2016-08-30 16:03] t3hnar commented on #61
most probably

[2016-08-30 20:00] t3hnar commented on #60
@Konfuzzyus I need your help in order to track down the root cause, could you please
* provide stacktrace for `onClose` call ?
* could you create minimal code snippet to reproduce the issue ?

I can see from logs that Actor covering `SubscriptionObserver` is closed/killed somehow, most probably not from our side, then `eventstore.StreamEventAppeared` is left unhandled.

[2016-08-31 06:53] #61 closed

[2016-08-31 06:54] #41 closed

[2016-08-31 08:29] ahjohannessen commented on #61
@t3hnar I think you need to specify that your protobuf definitions should use `syntax = "proto2";` at the top of the file such that protoc does not complain about `required` fields etc.

Btw, thanks for doing this 👍

[2016-09-01 08:12] Konfuzzyus commented on #60
@t3hnar I will see what I can do, the problem is hard to reproduce as it only seems to happen under high load and even then only sporadically. Will get back to you once I have something tangible.

[2016-09-01 10:08] kristian-elder opened #62 "Events dropped on client reconnect"
I have only seen this once in production, and so far been unable to reproduce, but I can confirm that for some reason (currently pointing to the ES client), I've missed events in a subscription as the client was reconnecting.

I am using the Reactive Streams API for subscriptions and had an active subscription to a category projection stream.

Eventstore client logs for the time period:

22:00:09.

[2016-09-02 12:56] ahjohannessen commented on #61
@t3hnar For the record, this is an interesting trick:
[code]
one can do with this plugin:
[code]
ScalaPB does that with respect to SparkSQL.

[2016-09-02 12:58] t3hnar commented on #61
@ahjohannessen you know pull requests are welcome :)

[2016-09-02 13:05] ahjohannessen commented on #61
@t3hnar Yes ;)

[2016-09-02 19:12] fchaillou opened #63 "Issue when trying to fetch the metadata of a stream that has one event"
Hello,

When i try to get the stream metadata of a stream that has events and no metadata, i get a weird exception.

Here is a test case to reproduce : https://gist.github.com/fchaillou/453fe7ab621870c78c921c4523f84135

When running it i get `Exception in thread "main" eventstore.CommandNotExpectedException: Expected: ReadEventCompleted, actual: java.lang.IllegalArgumentException: requirement fail

[2016-09-02 19:18] fchaillou opened #64 "API doesn't allow to get the offset of the Metadata"
Hello,

I'm thinking to update a stream metadata concurrently with several consumers (using the metadata to store the consumers position in the stream).

To do that, i would need to be able to do Optimistic locking in the metadata stream using the **expectedMetastreamVersion** parameter of EsConnection.setStreamMetadata.

However, the EsConnection.getStreamMetadata function doesn't return the offs

[2016-09-02 21:30] gregoryyoung commented on #64
Metadata streams are just streams... you can even write to them directly if
you want

On Fri, Sep 2, 2016 at 8:18 PM, Fabien Chaillou <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-09-02 22:35] t3hnar commented on #64
@fchaillou please consider working with metadata as plain stream as @gregoryyoung recommends

[2016-09-02 22:36] t3hnar commented on #63
@fchaillou thx, interesting one, will take a look

[2016-09-07 05:55] t3hnar commented on #56
Looks like I was able to reproduce the issue!
Try to fix it now.

[2016-09-08 07:30] Konfuzzyus commented on #60
Caught one:
`[ERROR] Fatal exception detected, terminating JVM
com.bertschi.gg.esc.impl.EsException: Subscription closed unexpectedly
        at com.bertschi.gg.esc.impl.EventStorePlatform.subscriptionClosedHandler(EventStorePlatform.java:266)
        at com.bertschi.gg.esc.impl.PlatformEventStoreObserver.onClose(PlatformEventStoreObserver.java:37)
        at com.bertschi.gg.esc.impl.EsBaseSubscri

[2016-09-12 20:23] fchaillou commented on #64
Ok, fair enough :)
I don't need it right now, i'll revisit my code if I ever need that :)

Thanks !

[2016-09-12 20:23] #64 closed

[2016-09-22 08:58] Konfuzzyus opened #66 "Values given by operation.timeout configuration and SettingsBuilder.operationTimeout() are ignored"
Observed behavior:
Setting an operationTimeout <> 7s using the SettingsBuilder or the configuration file does not change the timeout used for akka ask operations. The timeout actually used is always the default timeout (as specified in the Settings class).

Expected behavior:
Setting the operationTimeout to 15s should also make akka ask operations use a timeout of 15s.

Root cause analysis:
The Se

[2016-09-22 09:11] t3hnar commented on #66
Thx for reporting!

[2016-09-22 09:18] #66 closed

[2016-09-23 14:53] Konfuzzyus commented on #60
Some extra phenomena have popped up. They could be related to the issue above, so I am adding them here rather than opening a new issue.

We now also got these exceptions shortly after the affected service restarted after recovering from the subscription closing:

[code]

Something weird is happening on that connection. Is there a way to have the client print the raw package it attempted to deseri

[2016-09-24 15:04] t3hnar commented on #60
The last one is really weird, like message is damaged

[2016-09-24 15:23] t3hnar commented on #36
Fixed

[2016-09-24 15:23] #36 closed

[2016-09-24 15:24] t3hnar commented on #22
Fixed

[2016-09-24 15:24] #22 closed

[2016-09-24 18:32] t3hnar commented on #56
@kristian-elder could you try the latest version of `2.4.0` ?

[2016-09-24 20:41] t3hnar commented on #58
Closing for now.
@ubourdon  please reopen if you have code snippet on how to reproduce this.

[2016-09-24 20:41] #58 closed

[2016-09-24 20:42] t3hnar commented on #48
@pawelkaczor do you still have issues with this?

[2016-09-24 20:51] pawelkaczor commented on #48
Personally, at the moment, no. It is not urgent, for sure.

[2016-09-24 20:57] t3hnar commented on #48
@pawelkaczor I double checked the code and basically there are possible solutions to separate actors created by eventstore. For example you can pass custom `ActorRefFactory`

Feel free to reopen in case you found something really blocking you.

[2016-09-24 20:57] #48 closed

[2016-09-25 13:19] ahjohannessen commented on #36
:+1:

[2016-10-10 11:24] Konfuzzyus commented on #66
Verified to be working using release 2.4.0.

+1

[2016-10-10 15:40] Konfuzzyus opened #67 "Usage of com.typesafe.play play-json 2.5.4 introduces dependency on logback-classic"
Observed Behavior:
Eventstore.JVM v2.4.0 adds a dependency on the logback-classic slf4j-binding and breaks setups that deploy using other slf4j-bindings.

Expected Behavior:
Eventstore.JVM should not introduce any dependencies on specific slf4j-bindings.

Root Cause Analysis:
Version 2.5.4 of play-json is affected by https://github.com/playframework/playframework/issues/6242 which leaks its test d

[2016-10-10 15:43] t3hnar commented on #67
Thx, will do!

[2016-10-10 18:18] #67 closed

[2016-11-02 01:21] rickardoberg opened #68 "Event write ordering not preserved"
Server: 3.8.1
JVM Client:
<artifactId>eventstore-client_2.11</artifactId>
<version>2.4.1</version>

No custom Akka conf, just defaults. BetterOrdering:true on server.

As reported on mailing list, it seems the JVM client does not preserve write order. Minimal test creates 1000 events with the ordinal as metadata, and on write ack outputs ordinal + commit position. Here's a run without synchronous

[2016-11-02 01:43] rickardoberg commented on #68
Testing with the msemys/esjc JVM client shows that I can get that to do write reordering as well, BUT with that one I can put in a simple semaphore throttle to have (for example) 10 concurrent writes, and write order will still be preserved. With the Akka client the semaphore throttle doesn't help at all, still get reordering.

[2016-11-02 07:25] t3hnar commented on #68
On it's own JVM Client is sequential as any other Actor, if you will fire 10 messages from the same thread, those will be processed by client in the same order. So I suppose tcp + server is the place where reordering may happen.

Anyway I'd like to help you to resolve this problem, could you please post a simple example reproducing this case?

Do you write to the same Stream ?

[2016-11-02 07:28] rickardoberg commented on #68
Scratch that, even with the other JVM client I can still get reordering, even with just a 10 write semaphore (i.e. no more than 10 outstanding writes). As of now it doesn't seem possible to do an EventStore copy (subscriber to one, write to another) without waiting for each write to finish (which basically means in practice it's not possible, because of the time it would take to finish any reasona

[2016-11-02 07:29] rickardoberg commented on #68
@t3hnar to, I write to one stream per aggregate. Does that make a difference?

[2016-11-02 07:30] rickardoberg commented on #68
I can't easily post the Akka version code, because it uses too many internal helper classes. However, here's the esjc version of the test, same issue:

`public class EventStoreOrderTest
{
    private GetEventStoreService es;
    private GetEventStoreWriter writer;
    private Function<IndexedEvent,CompletionStage<Optional<Events>>> parser;

    @Test
    public void testOrdering() throws IOExcepti

[2016-11-02 07:32] rickardoberg commented on #68
Actually, as you see in the above test, it writes to the "foo" stream, makes no difference, still does reordering.

[2016-11-02 07:39] t3hnar commented on #68
Indeed you need to write next batch after the previous one completed and please select proper size of batches to increase throughput.

In the meantime I'm going to create test to verify that there are no such issues on JVM client, and the reordering we are facing here - (tcp + server) part.
Or will ship the fix if issue is found. Looks like the plan.

[2016-11-02 07:44] rickardoberg commented on #68
How do I create a batch? I would be happy to do so, have repeatedly asked on the list how to do this, but so far no go.

[2016-11-02 07:46] t3hnar commented on #68
[code]

Currently You are passing `asList` with single element, but it is better to pass many entries with single write.

[2016-11-02 08:38] rickardoberg commented on #68
@t3hnar true, but if I put many in there (same with Akka JVM client) then it is impossible to use different streams. You have to put all of them into the same one. Right?

[2016-11-02 08:40] t3hnar commented on #68
yes, so basically you need to group by stream and sequential write per stream. Different streams will be written concurrently, this should cover most of your needs.

[2016-11-02 08:52] rickardoberg commented on #68
@t3hnar that will make it quite complex, and hard to get the exact same output sequence as the input sequence, not to mention the speed will still suck really badly, as most of the time the batch will only have one event in it (if I see a new stream id I have to flush the one currently being used), yet I need to wait for the future to complete before continuing. Really really bad.

Fortunately we

[2016-11-02 09:34] gregoryyoung commented on #68
With the .NET client you can get ordering if writing async from a single
thread if betterordering is set.

On Wed, Nov 2, 2016 at 7:25 AM, Yaroslav Klymko <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-11-02 09:38] rickardoberg commented on #68
@gregoryyoung that's good to know. Then it should be possible to fix this in the JVM client I guess? It would be great if you could replicate it locally, and see if there's ANYTHING to be done. For now I'm going to try erasing my stream id's and doing batching as per above. Doing a run now, and it seems to have better performance (200 messages/second, compared to 18 messages/second in our current

[2016-11-02 20:22] samidalouche opened #69 "Streaming from First element on a stream that has been soft-deleted returns different elements depending on infinite"
`stream_that_has_been_soft_deleted` contains `3311` elements starting from offset `33338`

The following code will return 0 if infinite = false, and will return 50 if infinite = true.

Is that the expected behavior? What is the preferred/correct way of asking for the first element, whatever the offset is?

[code]

[2016-11-02 21:44] t3hnar commented on #69
Your code looks valid to me, so probably some kind of issue... will try to fix it.
As temporary workaround try to `fromNumberExclusive=None`

Btw with so small `take = 50` you can just send single `ReadEvents` like described here https://github.com/EventStore/EventStore.JVM#future-like-api

[2016-11-02 21:50] samidalouche commented on #69
The take(50) was only added for trying to debug the finite/infinite case. None works the same as `EventNumber.First`, which does the same as `Exact(X)` where `X` < firstElement - 500

[2016-11-03 03:01] rickardoberg commented on #68
Just to follow up: we have now completed our blue/green deployment from the broken production cluster (due to reordered events) into a new one where the events were reordered. By doing the copy (subscribe to old ES, write to new ES) using only a single stream, we got performance that was adequate and copied the 6M events in a few hours.

The conclusion for now seems to be that you can either have

[2016-11-03 05:23] t3hnar commented on #68
@rickardoberg good to know you restored data.

I think we can close the ticket.

[2016-11-03 05:25] rickardoberg commented on #68
@t3hnar well, so yes and no. I still think it's an issue that the JVM client reorders writes. If you want to open a new ticket more specific to that, and reference this one, that'd be fine.

[2016-11-03 06:12] t3hnar commented on #69
@samidalouche there is a bug, thx for reporting.

Meanwhile you can workaround it like querying the offset first and then using it as `fromNumberExclusive`
You can query last event number by  sending msg `ReadEvent(stream, EventNumber.Last)`

[2016-11-03 06:43] t3hnar opened #70 "Implement EsConnection.streamPublisherReversed"
It us useful to have reactive-streams api to read events from the end of stream.
Most probably will be used in https://github.com/EventStore/EventStore.Akka.Persistence

[2016-11-03 07:11] #63 closed

[2016-11-03 07:11] #69 closed

[2016-11-03 14:47] samidalouche commented on #69
Great, Thanks!

[2016-11-07 05:12] rickardoberg commented on #68
@t3hnar I looked at the test, but I don't read Scala so can't really tell what it's trying to do. Can you explain? Does it test for the case outlined in this issue?

[2016-11-07 05:20] t3hnar commented on #68
Yep, the test is just starting 1000 writes asynchronous then expect 1000 access and then verify that order of acts matches the order of writes started.

`actor ! WriteEvents(streamId, List(newEventData), ExpectedVersion.Exact(x))` this is an asynchronous write

`expectMsgAllClassOf(List.fill(n)(classOf[WriteEventsCompleted]): _*)` - expect acks

`actual shouldEqual expected` self explained :)

[2016-11-07 05:45] rickardoberg commented on #68
@t3hnar and it is checking the nr written, not the position in the log (which obviously is correct)? I'm a bit confused, because if that passes, then what am I doing wrong. Or does that fail?

[2016-11-07 06:38] t3hnar commented on #68
* my test writes to the same streams thus checking the order of responses + seqNr is totally correct
* you could switch from using `Future` to direct message passing, that should improve order. To do that you would have to dive into `http://akka.io` to understand basic principles and how to implement message passing with java

[2016-11-10 15:44] Konfuzzyus commented on #60
The latest release of Eventstore.JVM brought another piece to the puzzle: We frequently get
``Connection lost to eventstore/172.18.0.8:1113: peer closed`` on idle eventstore connections (i.e. a connection where we have just a subscription and nothing else going on).

What are the conditions that will make eventstore drop a client?

Btw, it would be helpful if there was a way to properly close a co

[2016-11-10 15:46] t3hnar commented on #60
@Konfuzzyus just to clarify by latests you mean `v3.0.2` ?

Anyway going to try to reproduce.

[2016-11-10 15:50] gregoryyoung commented on #60
What do you see in ES log at this time?

On Thu, Nov 10, 2016 at 3:44 PM, Christian Meyer <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-11-11 08:27] Konfuzzyus commented on #60
@t3hnar Not quite latest I just noticed, we're running Eventstore.JVM ``2.4.1``, and Evenstore ``3.9.1`` at the moment
@gregoryyoung

Log from the Service losing the connection
[code]
Log from ES at the time of connection death
[code]

The above is an example from a connection that is opened to read a few events from a stream then closed afterwards, so it might not be representative (yet I have ne

[2016-11-11 08:29] t3hnar commented on #60
@Konfuzzyus please upgrade to the latest and try with it.
Btw I cannot reproduce it with idle both `all streams` & `stream` subscriptions

[2016-11-11 11:44] Konfuzzyus commented on #60
@t3hnar deploying the update to test as I write this

I start to suspect that there is something wrong with the network stack on our hosts, most of the problems we see could be explained by tcp sockets being killed mid-stream.

Will update this issue once I get something interesting out of the test system.

[2016-11-11 12:20] gregoryyoung commented on #60
This looks like an intentional close. Will need to see what it says on an
unintentional one.

On Fri, Nov 11, 2016 at 8:27 AM, Christian Meyer <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-11-14 14:28] t3hnar commented on #60
@Konfuzzyus any progress on this?

[2016-11-14 21:04] Konfuzzyus commented on #60
@t3hnar nothing specific so far, I have not seen a service go into the disconnection frenzy since the last restart, and we are having some major issues with our CoreOS cloud provider at the moment, I'll have to get back to you once the situation calms down. Most of what we see here could very well be side effects of an issue with the operating system or the virtualization backend.

[2016-11-14 21:05] gregoryyoung commented on #60
:+1: look forward to hearing back

On Mon, Nov 14, 2016 at 9:04 PM, Christian Meyer <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-11-15 07:20] Konfuzzyus commented on #60
Had one service doing the reconnection dance today:
[code]
This is what ES is logging (filtered for that particular service's IP):
[code]

Does not differ from what you say looks like an "intentional close". Its a single subscription, barely doing anything. This is the prod server which still runs Eventstore.JVM ``2.4.1``, and Evenstore ``3.9.1``.

[2016-11-16 09:36] Konfuzzyus commented on #60
We hooked wireshark into the system and had a look at what is going on behind the scenes. Each of the "Connection lost" events seems to correlate with the client performing a TCP handshake with the server, opening a new connection, this connection then sits idle for 5s until it is reset (forcefully closed using the RST flag) by the client. All the while the original connection seems to persist and

[2016-11-16 09:37] t3hnar commented on #60
Does this happen with `3.0.2` as well?

[2016-11-16 09:48] Konfuzzyus opened #71 "Client should provide interface for graceful close of eventstore connections"
Observed Behavior:
The EsConnection interface does not provide a method to intentionally shut down the connection to the event store. The connection can be severed by terminating the actor system, but this will result in a TCP RST on the connection, prompting an error log on the Eventstore side ``Close reason: [ConnectionReset] Socket receive error``

Expected Behavior:
The EsConnection interface

[2016-11-16 10:11] Konfuzzyus commented on #60
Yes
[code]

[2016-11-16 10:15] Konfuzzyus commented on #60
*sigh* scratch that, CI did not deploy that service correctly

[2016-12-07 11:43] Konfuzzyus commented on #60
We still see peers closing on services with 3.0.2, however, it only starts to happen on services once they encounter memory pressure and increased GC activity.

Since this seems to be going nowhere, I'll close the issue.

[2016-12-07 11:43] #60 closed

[2017-01-23 10:34] michielboekhoff commented on #52
Hi there,

I'd really love to see this feature be supported. To that end, if no one is working on this, I'd be willing to see if I can't write something and create a PR for it at some point during the week?

[2017-01-23 10:36] michielboekhoff opened #73 "Update Scala version."
Hello,

Scala has recently (October 2016) released Scala 2.12. As a result, this library does not work with the newest release of Scala. Any plans to upgrade? Possibly, if no on else has time, I can take a look at doing this myself and creating a PR.

[2017-01-23 10:38] t3hnar commented on #73
@michielboekhoff we rely on play-json dependency that blocks use from building against `2.12`

[2017-01-23 10:57] t3hnar commented on #52
hi @michielboekhoff I don't have enough time to finish adding this feature right now.
There is branch to start off `competing-consumers`

[2017-01-23 11:00] michielboekhoff commented on #52
@t3hnar Thanks for the quick response. I'll try and pick it up then.

[2017-01-24 12:21] michielboekhoff commented on #73
@t3hnar I've checked the roadmap for Play 2.6 and it's expected in March - April of this year. Maybe something lighter could be used, so that it's not blocking 2.12 until then? I'd be happy to pick this up myself sometime next week.

[2017-01-24 12:25] t3hnar commented on #73
@michielboekhoff I'd not say that `play-json` is not light :)
you can take a look at https://github.com/circe/circe

[2017-01-25 22:57] DStranger commented on #73
@michielboekhoff @t3hnar I am currently working on replacing `play-json` with `circe`, will create a PR tomorrow.

[2017-01-26 09:15] michielboekhoff commented on #73
@DStranger Thanks, that'd be much appreciated. If you need any help please let me know.

[2017-01-26 10:18] DStranger commented on #73
On the second thought, `circe` will bring a dependency on `cats`, what are your thought on that, @t3hnar? Another option would be `spray-json`, which is also lightweight enough.

[2017-01-26 10:51] michielboekhoff commented on #52
@t3hnar Hi there. Right now I'm implementing Ack/NAck and I'm running into an issue: in the ConnectionActor's onPackOut function, it expects every packet to have an operation mapped in the Operation object. If the operation object is None, then the packet is not sent. I need a quick fire-and-forget solution to send the ack for a particular message. Any idea how to do that without rewriting part of

[2017-01-26 12:01] t3hnar commented on #73
@DStranger
Adding dependency on `cats` is a bad idea.
I have a fear that `spray-json` may die because of other better supported and more powerful libraries.
So I still think that `play-json` is the best one option, but we can migrate temporary to other lib until `play-json` migrated to scala 2.11. In such case `spray-json` is the best choice.

[2017-01-26 12:04] t3hnar commented on #52
@michielboekhoff I suppose that should be an ID of operation covering a whole competing consumer subscription, something like `SubscriptionOperation`. Does that make sense ?

[2017-02-07 20:32] paschelino opened #76 "Documentation: How to get started"
should contain
- sample command line code how check for eventstore service availability
- mvn repository dependency declaration example
- some example code to put into an integration test how to create streams and how to write and read to them
- links to more advanced topics

[2017-02-07 20:50] gregoryyoung commented on #76
"sample command line code how check for eventstore service availability"

Would depend entirely on your configuration default configuration http://127.0.0.1:2113 (shows admin console) or telnet 127.0.0.1 1113. But these only work on default configuration

isn't 3 on the readme of this repository already or do you mean something else?

[2017-02-07 22:31] paschelino commented on #76
Hi Gregory,

thank you for your quick reply! Sorry for the incomprehensible description I provided to that ticket. My head was a bit tired after work. I'm thinking from the newbies perspective and wanted to suggest, it would be helpful to provide a _getting started_ thing, which is a somehow failsafe way to set up some initial code doing basic stuff on an event stream successfully. This could incl

[2017-02-07 22:39] paschelino commented on #76
A separate sample project on github with a series of tests for the newbie to make them green one by one could also be an idea.

[2017-02-08 09:10] michielboekhoff commented on #76
@paschelino I agree that documentation is a weak point of the JVM client. I've recently been contributing to a new component and I've pondered writing some documentation for this project myself. What exactly are you looking for? I was thinking the API reference should really be expanded upon, too.

[2017-02-08 09:11] michielboekhoff commented on #73
I see that play-json has now been replaced. Can we now bump the Scala version, or is there anything else holding us back?

[2017-02-08 12:40] t3hnar commented on #73
should be available on maven central under v3.0.6 in couple of hours

[2017-02-08 12:40] #73 closed

[2017-02-09 11:03] michielboekhoff commented on #52
This should be fixed by #74. We'll see a release with it soon, I imagine.

[2017-02-10 13:49] michielboekhoff commented on #52
@t3hnar I've just built & published to a personal Nexus repository. I tested the client's PersistentSubscriptionActor and it works, except for one thing. Even though the test for an ack being sent to the connection passes, the connection seemingly does not pass it onto the server. Any idea what could be causing this?

[2017-03-01 16:40] ahjohannessen opened #77 "Support 64bit Event Numbers"
Any plans on adding support for 64bit event numbers as it is about to introduced in version 4.0.0 of .NET client? Changes to client api are here: https://github.com/EventStore/EventStore/pull/1213

[2017-03-01 16:43] t3hnar commented on #77
yep, but that will be a major release as backward compatibility will be broken

[2017-03-01 17:15] ahjohannessen commented on #77
I have not looked that closely at server code, do you know if v4 works with latest jvm client, i.e backwards compatible?

[2017-03-01 17:16] t3hnar commented on #77
have not tested yet

[2017-03-09 09:35] michielboekhoff opened #78 "UUID order incorrect"
Hey,

It seems the byte-order of UUIDs is not encoded properly for the EventStore, as message IDs are converted incorrectly (with a slight offset). Example: a message ID on the client side is `b3ee0a67-9fe8-13cc-5d10-9a88fe564fe8` whereas this becomes `fe564fe8-9a88-5d10-cc13-e89f670aeeb3` on the server. As you can see, this is a slight reordering, that I believe occurs because of incorrect serial

[2017-03-09 11:34] michielboekhoff commented on #78
@t3hnar I'd fix this, but I don't quite understand how protobuf-net expects the UUID to be sent across.

[2017-03-09 12:23] gregoryyoung commented on #78
This is more likely to do with
https://github.com/gregoryyoung/libesclient/blob/master/src/wtf_uuid.c

On Thu, Mar 9, 2017 at 11:34 AM, Michiel <notifications@github.com> wrote:

--
Studying for the Turing test

[2017-03-09 12:26] jen20 commented on #78
@michielboekhoff Yup sadly this is a known issue with Protocol Buffers sent from .NET, and requires code like this to be in the client: https://gist.github.com/jen20/781ced3a722481c9f223#file-wtf-java - we should just do it in the client I think.

[2017-03-09 13:09] michielboekhoff commented on #78
@jen20 Definitely think this should be done in the client. Right now, I'm maintaining our own fork of this client to implement fixes like this. Persistent Subscriptions do not work properly without this, as the server retries messages and in doing so clogs up the client. I'll implement it and see if this is definitely the fix.

[2017-03-14 09:29] michielboekhoff commented on #78
I've written some code to fix this issue and tested in our fork, and it seems to fix all issues. Shall I create a PR to merge this to upstream?

[2017-03-14 09:39] t3hnar commented on #78
Yes, please

[2017-03-14 10:24] t3hnar commented on #78
the fix of UUID might break client code which uses JVM client only and persist UUID somewhere.
So basically after version upgrade they will have broken UUIDs :(

Guys do you have some ideas on how to have this fix released as well as avoid bad user experience ?

[2017-03-14 10:27] michielboekhoff commented on #78
@t3hnar Well, they could encode their UUIDs using the new format. In the default formats, I've included a function that converts to and from the so-called "wtf-format." Maybe upgrade the major version to indicate a break in backwards-compat and then include a migration trajectory for pre-fix data?

[2017-03-14 10:49] samidalouche opened #80 "Should I be worried about messages such as `Cannot deliver class..., client not found for correlationId`"
What does this mean exactly?

Thanks

[2017-03-14 10:52] t3hnar commented on #80
Most probably it means that operation triggered this action already expired and replied with `OperationTimeoutException`, Then response came in and got logged

[2017-03-14 10:53] t3hnar commented on #80
Other possible variant that `client` which is actually `ActorRef` died for some reason.

[2017-03-14 11:02] samidalouche commented on #80
Thanks.

Is it possible that using the stream API, some events are simply skipped when these messages appear? Or all errors would be properly forwarded as stream errors?

[2017-03-14 11:21] samidalouche commented on #80
Another question: Does the JVMClient built-in retry mechanism would retry on these errors? So, If I don't see any error on the stream, could it mean that JVMClient already retried the operation?

[2017-03-14 11:24] t3hnar commented on #80
yep, there is `RetryableOperation.scala` which do the job

[2017-03-14 15:06] michielboekhoff commented on #77
@ahjohannessen I've done some testing with persistent consumers & V4 of the EventStore. It seems to be working as of yet, but I don't know exactly about the 64-bit numbers.

[2017-03-14 20:31] samidalouche commented on #80
Is there any config I can activate to know more about this specific problem?

Since I suspect that this issue might be related to some memory leaks I am seeing, I am trying to reproduce the problem in a sandbox, outside of my application logic, but of course, I can't seem to figure out how to trigger the same error messages. Even when I try to reproduce the same access patterns, I don't get the `c

[2017-03-14 20:46] samidalouche commented on #80
So far, I have been able to reproduce the message using something along the lines of

[code]

This doesn't seem to reproduce the memory leak I am looking for, but I am curious why `take(N)` would trigger such a message?

[2017-03-15 06:12] #78 closed

[2017-03-15 16:05] michielboekhoff commented on #25
This should be closed now - #52 has been closed.

[2017-03-15 16:07] michielboekhoff commented on #52
This should be closed now - #74 has been merged.

[2017-03-15 16:08] #25 closed

[2017-03-20 05:26] t3hnar commented on #80
Could you please post a complete example to reproduce your issue ?

[2017-03-26 11:10] reinierl opened #81 "DateTime unmarshaller fails after DST switchover"
The DateTime unmarshaller used to unmarshal messages from cluster nodes in the ClusterDiscovererActor will fail when the UTC timestamp contains a combination of a date and clock time that does not exist in the client's local time. This happened last night here in Amsterdam: there just was no such thing as 2017-03-26 02:01. So we saw our client unable to connect to the cluster:

[code]

[2017-03-26 11:39] bilus opened #83 "Trouble setting `startFrom` on `PersistentSubscriptionActor`"
First of all, thank you for an amazing library. :)

Background: I'm using it using Java interop from Clojure. I'll be happy to paste some code snippets if it helps but for now my question is pretty simple. .. I hope. ;)

I'm creating `PersistentSubscriptionActor` and it works perfectly. The thing that is bugging me is that I'd like to have an option to specify `startFrom`. Is it at all supported?

[2017-03-26 11:52] bilus commented on #83
Hah, for posterity: you just cannot do that. You need to update the subscription and it's a different point in its lifecycle than actor creation. Obviously! :) Sorry for bugging you.

I guess I was stuck because I was more focused on grokking the source code of this excellent library than using what I know about ES' protocol.

I'm closing this issue but will be happy to help if anyone needs help w

[2017-03-26 11:52] #83 closed

[2017-03-26 12:20] t3hnar commented on #83
Thanks for good words :)

[2017-03-29 09:41] michielboekhoff opened #84 "Release new version of EventStore.JVM on Maven."
Hey,

I've contributed a number of PRs to this repository, one of which implements competing consumers. I was wondering when a new release will take place so we won't have to host `master` on our local Nexus.

Thanks.

[2017-03-29 12:47] t3hnar commented on #84
hi @michielboekhoff thanks for your contributions, released under `4.0.0`

[2017-03-29 12:47] #84 closed

[2017-03-29 13:35] michielboekhoff commented on #84
@t3hnar Thank you very much for the excellent code that underlies this repository!

[2017-03-29 19:24] #52 closed

[2017-03-29 19:25] #81 closed

[2017-03-30 10:30] reinierl opened #85 "Exception instead of actor stop on cluster failure?"
In https://github.com/EventStore/EventStore.JVM/blob/8708a3f14f82dfdfef9077bec7c8644aa0711640/src/main/scala/eventstore/tcp/ConnectionActor.scala#L143-L146, the ConnectionActor is stopped when it definitively fails to connect to a cluster after a configurable number of tries. This forces us to use DeathWatch to respond to this, and we're not entirely sure of why the actor died.

Is there a reason

[2017-03-30 10:40] t3hnar commented on #85
good question. On one hand client users should not bother with supervision, as basically client already doing a lot for this internally. On other hand it does not align with akka ideology.

But in case event store connection is a system critical component, it is better to throw an exception.
So let's improve part.

[2017-04-03 09:32] michielboekhoff commented on #77
This might be very useful to maintain compatibility with the EventStore project. @t3hnar, I can open a PR for this at some point if you're interested?

[2017-04-03 09:34] t3hnar commented on #77
@michielboekhoff sure!

[2017-04-03 13:08] ahjohannessen commented on #77
@michielboekhoff @t3hnar Only thing that is holding us back to move to v4.0.0 is having the JVM client compatible with v4.0.0, which means tested and verified.
Please open a PR if you have done the necessary changes. I think you can see in the commit log of Eventstore what was done to the .NET client wrt. moving from 3.x to 4.x.

There is a blog post on geteventstore.com that describes what is nec

[2017-04-03 13:23] michielboekhoff commented on #77
@ahjohannessen I've already started making some of the necessary changes (changing the Protobufs, changing event number to Long vs. Int, etc.) and I'll try to get a PR up ASAP.

I've just skimmed the blog post, and it is very useful indeed. Thank you. I'll keep you updated on this.

[2017-04-03 13:50] ahjohannessen commented on #77
Yeah, great stuff @michielboekhoff 👍 Perhaps @pgermishuys or @hayley-jean could assist you in what is necessary to accommodate breaking changes moving from 3.x to 4.x

[2017-04-03 13:58] gregoryyoung commented on #77
btw a 3.9 client should still work with 4.0. The only changes are the
32bit->64bit changes. See here: https://geteventstore.com/blog/ under will
I have to upgrade my clients

On Mon, Apr 3, 2017 at 2:08 PM, Alex Henning Johannessen <
notifications@github.com> wrote:

--
Studying for the Turing test

[2017-04-18 16:47] Mousaka opened #86 "Question about running in jUnit test (java)"
I have set up a jUnit test that basically just runs the java example from the README of how to Write an event to EventStore.
I noticed that the test successfully creates and pushes events to my EventStore if I run the tests through maven (`mvn test`) but if I run them in my IDE (IntelliJ) no events are created and no errors are shown either. Any idea why that is? and what can I do to be able to ru

[2017-04-18 17:05] t3hnar commented on #86
@Mousaka can you see that tests are run at all?

[2017-04-18 20:43] ralphejohnson opened #87 "Question about Java/Scala interface"
I'm a longtime Java programmer.  I've never programmed in Scala, though I have read papers that had short Actor programs using Akka/Scala, and figured it wouldn't be that hard to figure out how to use the JVM EventStore interface.   I'm gradually figuring things out, but am not yet successful.   The examples don't do anything with the Events that they read, and I couldn't figure out how to get the

[2017-04-19 07:09] Mousaka commented on #86
Yes the test gets run. If I put a fail() at the end of it it fails for example.

[2017-04-19 07:29] t3hnar commented on #87
Hi @ralphejohnson

Is there concrete Scala example you'd like to see translated in Java?

have you tried `new EventNumber.Exact(_nextTransaction)` ?

I suppose this might help http://doc.akka.io/docs/akka/2.5.0/java/futures.html

[2017-04-19 08:44] t3hnar commented on #86
Most of tests are unit, they do not use EventStore, however you can try to run for instance
`ReadWriteEvents`
`ReadStreamEventsForwardITest`

[2017-04-19 12:47] Mousaka commented on #86
Hi again and thanks for helping me
I cloned the EventStore.JVM project and tried running `ReadWriteEvents` and `ReadStreamEventsForwardITest` and I see them both interacting with my EventStore so they seem to work.
However the test `ReadStreamEventsForwardITest` [fails](https://gist.github.com/Mousaka/afeba283530de395e5c4287477e1cae9)  when I run the test it directly in IntelliJ (right click on fi

[2017-04-20 06:40] Mousaka commented on #86
So I got it to work now by using the "Future"-pattern that is recommended in the readme. My test can now communicate with EventStore even if I run it directly form my IDE. I am not so familiar with writing tests in an Akka-environment but my guess of why it wouldn't work for me is about the tasks being asynchronous and if you code it wrong jUnit will just finish before the event was sent or someth

[2017-04-20 08:13] Mousaka commented on #87
I am also having problems instantiating some classes. I cannot manage to use the method `createProjection` in `ProjectionsClient` because I cannot create a valid value for the `ProjectionMode`-parameter. This is my attempt:
[code]
What does not work here is `ProjectionsClient.ProjectionMode.OneTime`. I tried looking for constructors, constants or methods that gives a ProjectionMode but I cannot fi

[2017-04-20 10:51] #86 closed

[2017-05-09 18:00] sbmpost opened #88 "Unable to resubscribe when using streamPublisher and the connection drops for a short moment"
When creating an Akka Source using the streamPublisher method in EsConnection, it returns an ActorPublisher. This works fine as long as the connection is up. If however for some reason the client connection is down for a few seconds (due to a network glitch) and later on the connection comes back up, the subscription is lost. As far as I can tell there is no way to detect this and to resubscribe (

[2017-05-11 15:24] sbmpost commented on #88
After some research I came up with the following analysis + a patch

commit e66e3d7cce810ea4ff30b90ac649195799e3dc68
Author: Stefan Post <s.post@thenewmotion.com>
Date:   Thu May 11 16:48:59 2017 +0200

    When reconnecting, the connect itself may succeed, but retrying the subscribeTo operation
    may timeout. This happens for example when EventStore is in the process of restarting. If
    we wo

[2017-05-11 16:53] t3hnar commented on #88
Nice! @sbmpost could you please fire a pull request ?

[2017-05-12 07:17] sbmpost commented on #88
PR: https://github.com/EventStore/EventStore.JVM/pull/89
The build seems to fail because of a permission issue...

[2017-05-13 05:45] t3hnar commented on #88
fixed in `v4.1.1`

[2017-05-13 05:45] #88 closed

[2017-05-15 07:54] sbmpost commented on #88
Nice, thanks :-)

[2017-05-16 18:41] samidalouche opened #90 "Subscription doesn't get notified of new elements when reconnecting too early on EventStore"
Problem
--------
When `EventStore.JVM` client subscribes too early before EventStore is fully functional (has built all of its indexes, etc), the subscription never gets notified of new additions to the stream.

The problem might be in the client, or might be in the server, but since I am not familiar with the internals, it is hard for me to gauge.

Versions
---------
- `akka:2.5.1`
- `akka-http:1

[2017-05-16 18:43] t3hnar commented on #90
@samidalouche could you please check this with `v4.1.1` ?

[2017-05-16 18:44] samidalouche commented on #90
Let me check right now with `4.1.1`, but I have seen this problem with `3.0.7`, so I doubt it is a minor recent regression

[2017-05-16 19:00] samidalouche commented on #90
OK, so something related to this problem definitely changed in `4.1.1`

This is what I get now:
[code]

Is that what you expect?

That definitely solves the issue on our side, since we would retry on any exception. Thanks!

[2017-05-16 19:06] t3hnar commented on #90
good. The issue still exists, however it is not silent anymore.

[2017-06-08 09:20] DStranger opened #92 "Cannot subscribe to a system category stream"
I have the system '$by_category' projection running, thus, there's a stream for each category, looking like '$ce-something'. But when I try to subscribe to it, I get an error:

Am I missing something?

[2017-06-09 19:33] t3hnar commented on #92
@DStranger could you please post your code snippet ?

[2017-06-12 12:55] DStranger commented on #92
@t3hnar
[code]

[2017-06-12 18:11] evan108108 opened #93 "How to setup competing consumers in scala?"
Hi all I am having trouble figuring out how I can setup "Persistent Subscription"'s in scala. Does anyone  have any sample code?

[2017-06-12 18:39] evan108108 commented on #93
Okay I don't know how I missed this. I am going to try this and close this issue.

https://github.com/EventStore/EventStore.JVM/blob/master/src/main/scala/eventstore/examples/PersistentSubscriptionExample.scala

[2017-06-12 20:36] evan108108 commented on #93
Re-opening because when I run the example linked above I get the following error message:

[code]

If anyone has any insights on how I might solve this let me know. Thx...

[2017-06-12 20:39] evan108108 commented on #93
Okay I understand why it says "eventstore.SubscriptionDropped$NotFound$". I need to create the subscription first, however it is not apparent to me how to do this in Scala. Can someone help me with some sample code?

[2017-06-13 08:48] t3hnar commented on #93
please try
[code]

[2017-06-13 22:19] evan108108 commented on #93
@t3hnar <- Thanks that worked!

[2017-06-13 22:19] #93 closed

[2017-06-13 22:21] evan108108 opened #94 "Using persistent subscriptions with Akka Streams"
Does anyone know if using competing consumers with persistent subscriptions is possible via the akka streams interface?

[2017-06-14 07:23] t3hnar commented on #94
sure it is possible

[2017-06-14 12:27] ahjohannessen commented on #77
Any progress / news on this?

[2017-06-16 11:47] Kajvdh commented on #94
Are there any examples available that show how it is possible to subscribe to a persistent subscription with Java?

[2017-06-17 02:30] evan108108 commented on #94
I would love to see a Scala example using Akka Streams and persistent subscriptions.

[2017-06-18 14:37] bilus opened #95 "Connection address"
Hi,

I'm looking for a way to force the library to resolve DNS name after it changes.

To recreate:

1. Start ES locally, listening on localhost.
2. Add `127.0.0.1 eventstore` to `/etc/hosts`
3. Start ConnectionActor connecting to `eventstore` domain.
4. Stop eventstore to start getting `Connection failed to eventstore/127.0.0.1:1113` errors.
5. Change `/etc/hosts`' entry so `eventstore` points to

[2017-06-18 19:26] t3hnar commented on #94
@evan108108 I was wrong, looks like this is not implemented. Sorry for inconvenience.

@Kajvdh https://github.com/EventStore/EventStore.JVM/blob/master/src/main/java/eventstore/j/examples/PersistentSubscriptionExample.java

[2017-06-18 19:27] t3hnar commented on #95
@bilus are you using non-cluster setup ?

[2017-06-18 21:28] bilus commented on #95
@t3hnar Yes. Unfortunately, I need it to work either way. I'm sorry for not posting any code, but it's Clojure so... :P

[2017-06-18 21:31] gregoryyoung commented on #95
This sounds like a turtles all the way down problem as there are varying
levels of caching by design in DNS.

On Sun, Jun 18, 2017 at 10:28 PM, Marcin Bilski <notifications@github.com>
wrote:

--
Studying for the Turing test

[2017-06-19 01:46] evan108108 commented on #94
Not sure what the wider community wants but I for one would love to have this feature.

[2017-06-19 06:17] Kajvdh commented on #94
@t3hnar It is just an example on how to create, update or delete Persistent subscriptions. I am looking for an example on how I can actually subscribe to the created persistend subscription.

[2017-06-19 06:44] t3hnar commented on #95
@bilus so re-loading `Settings.address` at runtime should fix your issue.

[2017-06-19 08:13] michielboekhoff commented on #77
@ahjohannessen Hey, sorry it's taken me such a while to get back on this. It's been busy at work. I feel like I've made most of the changes I've had to, I just need to get to fixing tests & testing it with ES 4.0. I'll let you know how it goes before the end of the week.

[2017-06-19 08:17] michielboekhoff commented on #94
@Kajvdh

When you create the PersistentSubscriptionActor, you can specify the actor that is to receive all messages as the second argument to `props`. We use Scala internally, so I'm not sure how it translates to Java.

[2017-06-19 08:19] michielboekhoff commented on #85
Is this being picked up? Otherwise I could always take a peek - should be a quick fix.

[2017-06-19 08:36] t3hnar commented on #85
please go ahead and fire a pull request :)

[2017-06-19 09:05] ahjohannessen commented on #77
@michielboekhoff Great, thanks 👍

[2017-06-19 10:44] ahjohannessen commented on #77
@michielboekhoff Looking forward to your PR :)

[2017-06-19 21:25] evan108108 commented on #94
@Kajvdh :> Any chance you guys are working on this feature?

[2017-06-20 07:52] michielboekhoff commented on #94
@evan108108 I could have a look at this at some point this week.

[2017-06-20 14:18] evan108108 commented on #94
@michielboekhoff:> Thanks thats amazing!

[2017-06-22 12:34] zacacj opened #97 "How to send a manual NotAcknowledge to a persistent subscriber"
I'd like to send a NotAcknoledge message when for some reason I need the message to be reprocessed by a persistent subscriber, instead of only wait for the timeout...is there a way?

[2017-06-22 21:20] zacacj opened #98 "What is the expected behavier of the EsConnection when IDEMPOTENT msg?"
If EventStore receive the event twice due to a timeout or whatever, the future received for the EsConnection is null, it would be nice have an more detailed response like an object to represent it.

[2017-06-23 11:32] michielboekhoff opened #99 "Replace ActorPublisher with GraphStage."
Hi,

In my Scala build, I'm currently getting a deprecation warning:

`object ActorPublisher` in package actor is deprecated (since 2.5.0): Use `akka.stream.stage.GraphStage` instead, it allows for all operations an Actor would and is more type-safe as well as guaranteed to be ReactiveStreams compliant.

We should therefore replace the `ActorPublisher`s with `GraphStage`.

[2017-06-23 11:39] michielboekhoff commented on #97
@zacacj

I'm reasonably certain manually sending a `Nak` will achieve what you want. Take a look at [Message.scala:250](https://github.com/EventStore/EventStore.JVM/blob/master/src/main/scala/eventstore/Message.scala#L250).

[2017-06-23 12:47] zacacj commented on #97
@michielboekhoff for sure, my point is that since I cannot send this Nak to PersistentSubscriptionActor as I can send a ManualAck, I need to pass the reference of the ConnectionActor to my "client", I just think it would be better archieve similar work same way would be better.

[2017-06-23 12:54] michielboekhoff commented on #97
@zacacj I'll create a PR for this later today.

[2017-06-23 13:06] michielboekhoff commented on #97
@zacacj Just to confirm, a similar interface to `ManualAck` would fulfil your use-case, right?

[2017-06-23 13:24] zacacj commented on #97
Yes it will!!

[2017-06-23 21:45] bilus commented on #95
Thanks, @t3hnar!

[2017-06-25 21:49] t3hnar commented on #99
Pull requests are welcome :)

[2017-06-26 09:29] michielboekhoff commented on #94
@evan108108 This issue is sort of blocked by #99. Right now, I'm fixing that issue first - removing all of these deprecations, so it'll work with `GraphStage` rather than `ActorPublisher`. I'll keep you updated.

[2017-06-27 11:45] evan108108 commented on #94
@michielboekhoff :> Understood. I really appreciate the update. Let me know if I can help...

[2017-07-04 01:20] evan108108 commented on #99
@t3hnar any progress on this?

[2017-07-10 13:58] zacacj commented on #97
Hi, this is what I did to have this feature for now...

https://github.com/ZupIT/EventStore.JVM/commit/b12d754dc95a4eb51ee3656e74df92906046e730

And since I'm using the lib on a java project I dont have visibility over sealed classes so I implemented with the default behavior of Retry

[2017-07-10 18:44] t3hnar commented on #97
@zacacj looks like a valid code, would be nice to add a test case covering this, so I could merge in.
Thanks.

[2017-08-10 12:17] ahjohannessen commented on #77
@michielboekhoff What is the timeline for a PR :)

[2017-10-10 08:20] ahjohannessen commented on #77
Fixed by https://github.com/EventStore/EventStore.JVM/commit/184c82791e1a4e818bed896f24bd0c4fe448e675

[2017-10-10 08:20] #77 closed

[2018-03-22 00:58] drozzy opened #107 "Persistent subscription (competing consumers) example in Java?"
Hi, guys.

Is there an example of how to read, ack and nack from a persistent subscription?

I can only find scala examples, and I wanted to see a Java equivalent.

This is what I kind of came up with, but there is a connection from "persistentSubscription" actor to my readResult that is missing...

[code]

[2018-03-22 01:26] drozzy commented on #83
@bilus Could you post an example of how to use PersistentSubscriptionActor from Java?

Thanks.

[2018-03-22 01:47] drozzy commented on #107
This is my second attempt:

[code]

But now I get:

`Exception in thread "main" java.lang.IllegalArgumentException: no matching constructor found on class eventstore.PersistentSubscriptionActor for arguments [class akka.actor.RepointableActorRef, class akka.actor.RepointableActorRef, class java.lang.String, class java.lang.String, class scala.Some, class eventstore.Settings, class java.lang.Boolea

[2018-03-22 02:50] gregoryyoung commented on #83
there is also a native java client

On Thu, Mar 22, 2018 at 8:26 AM, Andriy Drozdyuk <notifications@github.com>
wrote:

--
Studying for the Turing test

[2018-03-22 02:59] drozzy commented on #83
@gregoryyoung Do you mean this one?
https://github.com/tim-group/tg-eventstore

It's hard to decide which client to use.

[2018-03-22 03:00] drozzy commented on #83
Oh, you probably mean this:
https://github.com/msemys/esjc

[2018-03-23 14:02] ahjohannessen commented on #92
@DStranger did you try making publisher a `def` instead of `val` ?

[2018-04-05 17:51] sbmpost opened #110 "Subscriptions ending if an ES node in a cluster shuts down gracefully."
If a client subscribes to a stream (catch-up) and starts listening to the latest events, you would expect the subscription to endure forever: you are never unsubscribed unless something breaks. This does not seem to be the case if an ES node in a cluster shuts down gracefully. This may happen for example if OFFLINE TRUNCATION is needed for one of the nodes. If at that point the client happens to b

[2018-04-09 06:50] #99 closed

[2018-04-11 01:47] evan108108 commented on #94
@t3hnar :> Any chance you guys are working on this feature?

[2018-04-11 06:13] t3hnar commented on #94
@evan108108 I have no time on implementing new features in the client, but I'm willing to help client users to implement features on their own and merge in.
Most of the last code changes made by @ahjohannessen, maybe he can share his thoughts on this matter.

[2018-04-12 09:27] ahjohannessen opened #111 "Decouple `Client` from `Operation`"
I think it would be beneficial to reconsider the interface of `Operation` with respect to `Client`. Now it seems a bit implicitly coupled to the fact that a client contains an `ActorRef`. If we consider implementing the `ConnectionActor` in terms of Akka Streams then the current incarnation of `Client` on `Operation` seems awkward.

I am not sure what the best alternative is, perhaps removing clie

[2018-04-12 09:45] ahjohannessen commented on #94
Seems like most of that persistent subscription code is similar to what we implemented with graph stages.

[2018-04-12 19:35] t3hnar commented on #111
@ahjohannessen I can agree with this

[2018-04-19 13:51] sbmpost commented on #110
Ok! We will try with the RestartSource solution and maybe at some point this can dealt with in the library in the way you propose. Thanks for confirming and also curious what @t3hnar thinks of it :-)

[2018-04-19 14:04] t3hnar commented on #110
Hi I think this is a bug in the client. Client works with cluster and not with some node in particular, hence for all the operations that are idempotent (like subscribe) the switch between nodes should be invisible for the end users from logical perspective.

I can agree with this.

[2018-04-20 18:11] ahjohannessen opened #114 "Fix link in description"
Title page says https://geteventstore.com - it should be https://eventstore.org

[2018-07-04 06:40] reinierl commented on #110
Isn't this issue now fixed by https://github.com/EventStore/EventStore.JVM/commit/87d89563f5fe7c9211ffab671592069c67aabc39?

[2018-07-04 06:56] t3hnar commented on #110
@reinierl looks so, curious whether you cannot reproduce this anymore with new client ?

[2018-07-04 08:28] reinierl commented on #110
OK, will try!

[2018-07-25 06:40] shaan1337 commented on #92
@t3hnar we have a similar case for one of our customers:
[code]

do you have any idea about what the issue could be?

[2018-07-30 15:39] reinierl commented on #110
I can't reproduce it, thanks!

[2018-07-30 18:19] #110 closed

[2018-08-02 12:58] DStranger commented on #92
@t3hnar this is happening again, started receiving this out of nowhere
[code]

[2018-08-08 13:56] evan108108 opened #120 ""client not found for correlationId"?"
I have been getting this error a lot lately. When it happens I am unable to recover. Can anyone shed some light on why this might be happening and what I can do about it.

[2018-08-08 14:50] #120 closed

[2018-08-15 08:56] t3hnar commented on #120
Hello @evan108108,
how did you solve this?

[2018-08-16 03:47] evan108108 commented on #120
It was a logic issue on my end. Basically I was inadvertantly killing the actor and not restarting it properly. I closed the issue because I realized it was not a problem work the library.

[2019-01-11 09:31] DCPRevere commented on #107
[code]

The type of the third field is `EventStream`, whilst you are using a String.

[code]

[2019-01-14 19:48] jbtippelt commented on #107
Basically, I have exactly the same question as @drozzy. Is there an example of how to acknowledge a received message from a persistent subscription?
I receive the messages but can't acknowledge them.

[2019-02-22 09:40] rickardoberg opened #122 ""unhandled from message" errors when using projections"
OS: OSX
Server version: 5.0.0
Client version: 2.11-5.0.9

Given:
I'm importing events from a 3.9.4 ES instance, and writing to a single stream in an (initially empty) 5.0.0 ES instance that have projections setup for correlation-id, i.e. each unique id in metadata gets its own stream. In the same JVM I also have a subscriber using EsConnection.streamPublisher("mystreamname", new EventNumber.Exact(

[2019-02-25 08:33] rickardoberg commented on #122
Ok, it seems what is happening is that for some reason more events are coming in than what can fit in the source buffer, and it then unsubscribes, and the errors are from the unsubscribed state not being able to handle the events that are coming in.

This is really bizarre. I thought the whole point of a reactive stream was that it did back pressure handling, so that the client buffer could not be

[2019-02-25 08:43] t3hnar commented on #122
@rickardoberg this is not expected behaviour, will you be able to create a pull request ?

[2019-02-25 08:58] rickardoberg commented on #122
@t3hnar sorry, not following. A pull request for what? I've been able to find that there's a bug (seemingly) in the client, but I have no idea how to fix that. It's Scala, which I can barely read, and definitely not write. Or what are you asking for, precisely?

[2019-02-25 09:02] t3hnar commented on #122
@rickardoberg I'm asking to fix a bug by writing scala code :)

[2019-02-25 09:05] rickardoberg commented on #122
@t3hnar I absolutely hate Scala with a passion. I would rather die than try to fix this piece of shit. Sorry.

So, if you won't fix it, then it seems my best option is to not use reactive streams at all, and go back to using connection.subscribeToStreamFrom, which seems to at least work.

If you're not going to fix this, please mark all of the reactive stream APIs as deprecated, completely, rather

[2019-02-25 09:26] ahjohannessen commented on #122
@rickardoberg You hating Scala is fine, by all means. Calling things shit and being disrespectful is not useful and productive. This is OSS and you are free to use something else.

@t3hnar I believe the buffer always tries to have `read-batch-size` in it, but never more than ` 2 * read-batch-size`. That might not be the right thing to do and I think it was done like that as an optimization of alwa

[2019-02-25 09:30] ahjohannessen commented on #122
It would be useful to get steps to reproduce the bug or a failing test.

[2019-02-25 09:41] ahjohannessen commented on #122
@bardurdam Do you have an idea of what might be wrong?

[2019-02-25 09:44] rickardoberg commented on #122
@ahjohannessen be nice to people, but harsh on code, is a good rule of thumb. I appreciate the help from @t3hnar, but the client code for this is, clearly, shit. The PRIMARY purpose of a reactive client is to avoid back pressure issues, and now I'm finding back pressure issues. So it's badly designed, or badly done. I.e. I can't use it. So, I've already moved back to using the old API methods, tha

[2019-02-25 10:13] ahjohannessen commented on #122
Sure, nothing wrong with being harsh on code, but your attitude is clearly shit. If you pointed out faulty code, then it would be productive and helpful. However, when asked to help or provide some pointers to reproduce, you dismiss the whole thing as shit and move on. Odd thing to do, given that you probably use this in production for *free*. Not sure how that can be classified as being nice to p

[2019-02-25 10:16] #122 closed

[2019-03-05 14:50] ahjohannessen commented on #122
@rickardoberg This should be fixed in PR #123 - It was not a fatal error that you observed. It was that the JVM client had send backpressure to ES, while events were in flight from ES.

[2019-03-08 15:55] DCPRevere commented on #107
@jbtippelt This might not be relevant to your situation, but I was caught by something similar.

It is the default behaviour of an actor to `autoAck`. From `PersistentSubscriptionActor`:
[code]

But you might be seeing on your admin panel that some messages are hanging even though you can see them getting processed. This can be caused by checkpoints. From `PersistentSubscriptionSettings`:
[code]

[2019-03-15 12:27] ahjohannessen commented on #111
Done in:
https://github.com/EventStore/EventStore.JVM/commit/6bea0afff7fb2d051268ed18bc13846d00092a93

Closing issue.

[2019-03-15 12:27] #111 closed

[2019-03-15 12:28] ahjohannessen commented on #114
@t3hnar I cannot make a PR to repository description

[2019-03-17 13:00] t3hnar opened #130 "Compile client against java 11"
Please also add following to `travis.yml`

[code]

[2019-03-17 14:05] ahjohannessen commented on #130
@t3hnar I added that to https://github.com/EventStore/EventStore.JVM/pull/129

[2019-03-17 15:38] t3hnar commented on #114
@ahjohannessen I don't have access to that as well :)

cc @riccardone

[2019-03-17 15:58] #130 closed

[2019-03-17 16:29] ahjohannessen commented on #114
:D

[2019-03-21 13:31] chiller commented on #107
@jbtippelt to manually ack the events this worked for me
https://github.com/EventStore/EventStore.JVM/blob/master/examples/src/main/scala/eventstore/akka/examples/PersistentSubscriptionExample.scala
first of all you have to set autoAck to false

[code]

And secondly send a manual ack message to the sender

[code]

I have little experience with actors, so this may be wrong.

[2019-03-23 03:40] drozzy commented on #107
I'm no longer looking into this - feel free to re-open another issue if this is relevant.

[2019-03-23 03:40] #107 closed

[2019-03-25 14:28] ahjohannessen opened #137 "replace examples project with mdoc"
No need to maintain an example project if we can use https://scalameta.org/mdoc/

[2019-07-30 13:57] chiller opened #149 "Can't seem to be able to increase the in-flight messages for persistent subscriptions"
I have a persistent subscription and a scala consumer. My issue is that no matter what settings I set in the subscription or the client application.conf I can't seem to get more than 10 in-flight messages.

Here is my code:

[code]

I can see that only 10 threads do work at any given time by looking at visualvm. Now if I set autoack=true, then all 30 threads will do work.
If I use the http api `cu

[2019-11-26 11:31] poohsen opened #151 "last version to support eventstore 4.x?"
homepage says you support >=5.0.0 with the current client. What's the most recent release that supports eventstore 4.x?

[2020-01-09 09:42] ahjohannessen commented on #151
5.0.9

[2020-01-21 12:01] #151 closed

[2020-01-21 12:01] poohsen commented on #151
thanks

[2020-05-05 12:02] ubourdon opened #153 "[QUESTION] Is it possible to listen several event streams with streamPublisher API ?"
Hi
I try to listen some eventstream of my geteventstore database.
But i have a lot of streams & events and i don't wan't for perf consideration the `allStreamsPublisher` API.
Is exist a way to ask things like `listen all the stream that contains "prefix-" in their StreamId` ?

[2020-05-06 17:33] #153 closed

[2020-05-14 08:23] amondnet commented on #149
@chiller If you does not change default setting of persistent subscription, `Max Subscriber Count` is 10.

https://eventstore.com/docs/http-api/competing-consumers/index.html#creating-a-persistent-subscription

[2020-05-16 13:56] erikvanoosten opened #154 "Example for transaction via Future based api"
Is it possible to given an example on how to do transactions via the Future based API? Scala only would be fine.

[2020-06-18 00:38] MichaelMedvedskiy opened #155 "EventStore 20.6.0 - Connection lost to /127.0.0.1:1113: sink disconnected"
Hey. I'm running a docker-compose installation of EventStore, version 20.6.0, for development purposes:
[code]

Since this is the 20.6.0 version, the only way I can get access to the EventStore on a request-response basis is HTTPS (correct me if I'm wrong). I've managed to get access to the Web-UI (2113 port, required adding "EVENTSTORE_DEV=true"), I've managed to even make the REST API work via P

[2020-07-13 10:28] ahjohannessen commented on #155
Latest images of ES 20 series do not use TLS in development mode. Furthermore, I have an open PR https://github.com/EventStore/EventStore.JVM/pull/156/files that makes the JVM client understand ES 5.x and 20.x

[2020-07-30 10:17] ghostbuster91 opened #157 "Cannot increase buffer size for persistent actor connection"
Hi,

The method which defines this buffer is defined on `AbstractPersistentSubscriptionActor` which is package private as the only one actor which implement this interface.

[code]

Can we make it somehow configurable?

[2020-07-30 10:22] ghostbuster91 opened #158 "Allow manual ack and nack to take multiple messages"
Currently messages for manual ack and nack in `PersistentSubscriptionActor` are defined as follows:
[code]

While the underlying api allows to pass there multiple events id:
[code]

Is there any valid reason why options to pass lists isn't exposed?

[2020-08-04 09:15] ghostbuster91 opened #159 "Cannot bundle eventstoreJVM"
Hi, while trying to execute `assemblyPackageDependency` I'm getting following error:

[code]

It used to work fine prior to this version (7.2.0)

[2020-08-04 10:19] ahjohannessen commented on #159
Not sure what caused this, but perhaps https://github.com/akka/akka/pull/29014 is related as we bumped akka from
2.6.1 to 2.6.8. I have never used assemblyPackageDependency.

[2020-08-04 11:48] ghostbuster91 commented on #159
Yes it is, but I think that it used to work before only by coincidence. It seems like the proto files in akka are not being shaded and conflict emerges whenever there is a mismatch between any of these files and proto files included by other version of google-protobuf library. In other words it used to work because the proto files were equal.

[2020-08-04 14:05] ghostbuster91 commented on #159
As a workaround one can specify a mergeStrategy to drop those files as they are only useful during compile-time or update `protobufVersion` to `3.11.4` which is the same as the one in akka.

[2020-08-12 08:47] ghostbuster91 opened #160 "CommandNotExpectedException, expected: Connected, acutal: SubscriptionDropped"
Hi,

I am trying to migrate from evenstore 5 to 20, unfortunately code which used to work previously doesn't work any longer.

Logs:
[code]

My setup:
evenstoreJVM client 7.2.0
evenstore custom version build from master from commit: `88363a1a00e022f87133e7da9c07a81c80453022` which is basically 20.6.0 with some fixes around cluster security
[code]

[2020-08-12 10:20] ahjohannessen commented on #160
As far as I can tell, nothing has changed in the jvm client with respect to `PersistentSubscriptionOperation` or `SubscriptionOperation` - Tests for es20.6.x pass on CI, so that is a bit odd.

[2020-10-28 09:00] audunmeltzer opened #165 "Failed to connect to Eventstore v5.x with TLS"
With TLS enabled on client, it connects to gossip port with TLS. TLS on gossip port is not supported on Eventstore 5.x?

If we disable TLS on gossip request, client still connects to none secure tcp port. Expecting use of secure tcp, when TLS is enabled on client.

Added PR on issue:
https://github.com/EventStore/EventStore.JVM/pull/164

[2020-11-25 13:44] adamw commented on #160
Turns out the error is misleading, on the server the logs say that:

[code]

So this is a client configuration issue. The message might probably be better, though :)

[2021-01-14 14:05] mortenaa opened #166 "Connecting to cluster with requireMaster=false always connects to Master"
I'm trying to connect to a 3 node cluster, with requireMaster=false, but still all connections seem to be made to the Leader node.

Trying to undersand the code, it seems to me that this part will always select the Leader node if it's available, because the ordering in MemerInfo.state has Leader > Follower
[code]

we are using eventstore client 7.3.0 and eventstore 5.0.8

[2021-01-14 14:45] ahjohannessen commented on #166
I believe that `requireMaster` is sent on each request to EventStoreDB(s) - `bestNode` prefers the leader node regardless of `requireMaster` - Perhaps @t3hnar can elaborate a bit on that decision.

[2022-01-07 20:53] miguelsantoszup opened #253 "Failed to connect to Eventstore v20 through TCP with TLS enabled"
Hi!
Just to give a little bit of context, I'm trying to upgrade an application from use EventStore 5 to 20, and considering the route that would cost the least amount of effort, I'm just upgrading this lib from 5.x to version 7.4.0.
With EventStore 5, the application uses TCP without any security on it, but moving to Eventstore 20, we did configure TLS with some self-signed certificate to use over

[2022-01-07 23:10] ahjohannessen commented on #253
@miguelsantoszup Is it possible for you to set this setting in ESDB20:

[code]
?

[2022-01-07 23:53] ahjohannessen commented on #253
@miguelsantoszup I do not see any harm in merging your fix, though.

[2022-01-10 14:28] miguelsantoszup commented on #253
@ahjohannessen the configuration `ExtTcpPort` and `EnableExternalTcp` was already in place.
Seems that `AdvertiseTcpPortToClientAs` configuration did the trick!
Resultant gossip:

      ...
      "internalTcpIp": "eventstore-01.hostname.com",
      "internalTcpPort": 0,
      "internalSecureTcpPort": 1112,
      "externalTcpIp": "eventstore-01.hostname.com",
      "externalTcpPort": 1113,
      "e

[2022-01-10 14:28] #253 closed

[2022-01-10 14:30] miguelsantoszup commented on #253
For those whom are facing the same problem, v8.0.1 fixes this issue as well.

[2022-01-10 15:53] ahjohannessen commented on #253
Yep, I recall that was necessary for our cluster setup.

No problem 👍